#info-1 {
  /* background: url("../../../assets/images/dau-an-nien-do-info-1.png"),
    lightgray 50% / contain no-repeat; */
  background: url("../../../assets/images/dau-an-nien-do-info-1.png");
  /* background-size: 100vw; */
  @apply bg-[140.8vw];
  @apply lg:bg-[100vw];
  /* background-repeat: no-repeat; */
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[100%];
  @apply lg:before:pb-[71%];
}

.info-1__title {
  color: var(--50-b-848, #50b848);
  text-align: right;
  font-family: UTM HelvetIns;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @apply text-[25.2px];
  @apply md:text-[50px];
  @apply lg:text-[61px];
  @apply xl:text-[76px];
  @apply 3xl:text-[90px];
}

.info-1__subtitle {
  color: var(--1-a-3966, #1a3966);
  text-align: right;
  font-family: UTM HelvetIns;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @apply text-[12.32px];
  @apply md:text-[25px];
  @apply lg:text-[30px];
  @apply xl:text-[38px];
  @apply 3xl:text-[44px];
}

.info-1__description {
  @apply w-[181px];
  @apply md:w-[332px];
  @apply lg:w-[399px];
  @apply xl:w-[505px];
  @apply 3xl:w-[584px];
  text-align: justify;
  font-family: SF Pro Regular;
  @apply text-[5.6px];
  @apply md:text-[11.4px];
  @apply lg:text-[13.7px];
  @apply xl:text-[17px];
  @apply 3xl:text-[20px];
  font-style: normal;
  font-weight: 510;
  line-height: 30px;
  @apply leading-[8.4px];
  @apply md:leading-[16px];
  @apply lg:leading-[20px];
  @apply xl:leading-[24px];
  @apply 3xl:leading-[30px];
  @apply mt-3;
  @apply lg:mt-4;
  @apply xl:mt-6;
  @apply 3xl:mt-8;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-1__decoration {
  @apply w-[1.048px];
  @apply md:w-[1.3px];
  @apply lg:w-[2px];
  @apply xl:w-[3px];
  @apply 3xl:w-[3.388px];
  @apply h-[109.54px];
  @apply md:h-[160px];
  @apply lg:h-[250px];
  @apply xl:h-[300px];
  @apply 3xl:h-[354px];
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--50-b-848, #50b848);
  filter: blur(1.5px);
  @apply mt-14;
  @apply md:mt-20;
  @apply lg:mt-24;
  @apply xl:mt-32;
  @apply 3xl:mt-36;
}

#info-2 {
  flex-shrink: 0;
  /* background: url("../../../assets/images/dau-an-nien-do-info-2.png"),
    linear-gradient(71deg, #21375f 16.02%, #305b97 100.77%); */
  background: linear-gradient(71deg, #21375f 16.02%, #305b97 100.77%);
  background-size: 100vw;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.background-image {
  background: url("../../../assets/images/dau-an-nien-do-info-2.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[86%];
}

@media only screen and (max-width: 1023px) {
  .info-1__decoration {
    filter: blur(0.5px);
  }

  #info-2 .background-image {
    background-size: 165vw;
    background-position: 58%;
    @apply before:pb-[142%];
  }
}

.info-2__title {
  color: var(--ffffff, #fff);
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[9.86px];
  @apply md:text-[20px];
  @apply lg:text-[26px];
  @apply xl:text-[34px];
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info-2__subtitle {
  color: var(--ffffff, #fff);
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[7.54px];
  @apply md:text-[15px];
  @apply lg:text-[20px];
  @apply xl:text-[26px];
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info-2__title2 {
  font-family: UTM Impact;
}

.info-2__title2 .title2__text1 {
  @apply text-[8.057px];
  @apply md:text-[14px];
  @apply xl:text-[17px];
  @apply 2xl:text-[21px];
  @apply 3xl:text-[25px];
  font-weight: 400;
  @apply text-left;
  @apply leading-[9.024px];
  @apply md:leading-[16px];
  @apply xl:leading-[20px];
  @apply 2xl:leading-[24px];
  @apply 3xl:leading-[28px];
  @apply w-[59px];
  @apply md:w-[102px];
  @apply xl:w-[126px];
  @apply 2xl:w-[158px];
  @apply 3xl:w-[182px];
}

.info-2__title2 .title2__text2 {
  color: #c7eafb;
  text-align: justify;
  font-family: UTM Impact;
  @apply text-[36.741px];
  @apply md:text-[63px];
  @apply xl:text-[76px];
  @apply 2xl:text-[94px];
  @apply 3xl:text-[114px];
  font-weight: 400;
  @apply leading-[35px];
  @apply md:leading-[60px];
  @apply xl:leading-[70px];
  @apply 2xl:leading-[90px];
  @apply 3xl:leading-[110px];
}

.info-2__title2 .title2__text3 {
  color: #c7eafb;
  text-align: justify;
  font-family: UTM Impact;
  @apply text-[22.56px];
  @apply md:text-[38px];
  @apply xl:text-[46px];
  @apply 2xl:text-[57px];
  @apply 3xl:text-[70px];
  font-style: normal;
  font-weight: 400;
  @apply leading-[17px];
  @apply md:leading-[30px];
  @apply xl:leading-[38px];
  @apply 2xl:leading-[48px];
  @apply 3xl:leading-[54px];
}

.info-2__title2 .title2__text4 {
  color: #c7eafb;
  text-align: left;
  font-family: UTM Impact;
  @apply text-[9.346px];
  @apply md:text-[15.5px];
  @apply xl:text-[19px];
  @apply 2xl:text-[23px];
  @apply 3xl:text-[29px];
  font-style: normal;
  font-weight: 400;
  @apply leading-[9.5px];
  @apply md:leading-[16px];
  @apply xl:leading-[20px];
  @apply 2xl:leading-[26px];
  @apply 3xl:leading-[30px];
  @apply w-[70px];
  @apply md:w-[120px];
  @apply xl:w-[144px];
  @apply 2xl:w-[178px];
  @apply 3xl:w-[217px];
}

.info-2__text1 {
  color: var(--ffffff, #fff);
  font-family: SF Pro Regular;
  font-weight: 274;
  @apply text-[5.157px];
  @apply md:text-[10px];
  @apply lg:text-[8px];
  @apply xl:text-[10px];
  @apply 2xl:text-[12px];
  @apply 3xl:text-[16px];
  @apply leading-[7.09px];
  @apply md:leading-[14px];
  @apply lg:leading-[12px];
  @apply xl:leading-[14px];
  @apply 2xl:leading-[17px];
  @apply 3xl:leading-[22px];
}

.info-2__text1 strong {
  font-family: SF Pro;
  font-weight: 700;
}

.info-2__text2 {
  @apply info-2__text1;
  text-align: justify;
  @apply leading-[9.669px];
  @apply md:leading-[16px];
  @apply xl:leading-[20px];
  @apply 2xl:leading-[26px];
  @apply 3xl:leading-[30px];
}

.info-2__description1 {
  @apply info-2__text2;
  font-weight: 590;
  @apply text-[7.735px];
  @apply md:text-[13px];
  @apply xl:text-[16px];
  @apply 2xl:text-[19px];
  @apply 3xl:text-[24px];
  @apply w-[45%];
  @apply lg:w-[26.56%];
}

.info-2__description1 strong {
  font-family: SF Pro;
  font-weight: 900;
}

.info-2__detail1 {
  @apply info-2__text1;
  /* @apply w-[148.576px]; */
  @apply w-[38%];
  @apply lg:w-[24%];
}

.info-2__detail2 .rank__text {
  @apply info-2__text1;
  font-weight: 700;
  @apply leading-[11px];
  @apply md:leading-[20px];
  @apply lg:leading-[16px];
  @apply xl:leading-[20px];
  @apply 2xl:leading-[28px];
  @apply 3xl:leading-[38px];
}

.info-2__detail2 .rank__number {
  color: #f4e696;
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[19.337px];
  @apply md:text-[40px];
  @apply lg:text-[32px];
  @apply xl:text-[40px];
  @apply 2xl:text-[50px];
  @apply 3xl:text-[60px];
  font-style: normal;
  font-weight: 700;
  @apply leading-[22px];
  @apply md:leading-[44px];
  @apply lg:leading-[36px];
  @apply xl:leading-[44px];
  @apply 2xl:leading-[52px];
  @apply 3xl:leading-[56px];
  @apply w-[21.83px];
  @apply md:w-[40px];
  @apply lg:w-[28px];
  @apply xl:w-[40px];
  @apply 2xl:w-[52px];
  @apply 3xl:w-[67.75px];
}

.info-2__detail2 .rank__detail {
  @apply info-2__text1;
  @apply w-[101.522px];
  @apply md:w-[230px];
  @apply 2xl:w-[280px];
  @apply 3xl:w-[315px];
}

.info-2__description2 {
  @apply info-2__text2;
  font-weight: 274;
  @apply text-[6.446px];
  @apply md:text-[13px];
  @apply lg:text-[10.7px];
  @apply xl:text-[13px];
  @apply 2xl:text-[16px];
  @apply 3xl:text-[20px];
  /* @apply w-[310.045px]; */
  @apply w-[83%];
  @apply lg:w-[50.1%];
}

.info-2__description2 strong {
  font-family: SF Pro;
  font-weight: 860;
}

.background-image-2 {
  background: url("../../../assets/images/dau-an-nien-do-info-3.png");
  background-size: 75vw;
  background-repeat: no-repeat;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[72%];
}

.info-2__text3 {
  color: #f4e696;
  font-family: SF Pro;
  font-weight: 860;
  line-height: normal;
}

.characteristic {
  @apply info-2__text3;
  text-align: center;
  @apply text-[5.5px];
  @apply md:text-[12px];
  @apply lg:text-[16px];
  @apply xl:text-[20px];
  @apply 2xl:text-[24px];
  @apply 3xl:text-[30px];
}

.info-2__description3 {
  @apply info-2__text1;
  font-weight: 400;
  @apply text-[12.47px];
  @apply md:text-[20px];
  @apply lg:text-[22px];
  @apply xl:text-[26px];
  @apply 2xl:text-[32px];
  @apply 3xl:text-[38px];
  @apply leading-[17.11px];
  @apply md:leading-[28px];
  @apply lg:leading-[32px];
  @apply xl:leading-[40px];
  @apply 2xl:leading-[48px];
  @apply 3xl:leading-[59px];
  @apply w-[53%];
  @apply lg:w-[627px];
  @apply mt-8;
  @apply md:mt-24;
  @apply lg:mt-36;
  @apply xl:mt-40;
  @apply 2xl:mt-52;
  @apply 3xl:mt-60;
}

.info-2__description3 strong {
  font-family: SF Pro;
  font-weight: 860;
}

.description3__title {
  @apply info-2__text3;
  text-align: justify;
  @apply text-[6.96px];
  @apply md:text-[12px];
  @apply lg:text-[18px];
  @apply xl:text-[22px];
  @apply 3xl:text-[24px];
}

.description3__detail {
  @apply info-2__text1;
  text-align: justify;
  @apply text-[5.8px];
  @apply md:text-[12px];
  @apply lg:text-[14px];
  @apply xl:text-[19px];
  @apply leading-[8.7px];
  @apply md:leading-[18px];
  @apply lg:leading-[30px];
  @apply mt-2;
  @apply lg:mt-4;
  @apply xl:mt-8;
  @apply 3xl:mt-10;
}

.description3__detail strong {
  font-family: SF Pro;
  font-weight: 860;
}

.info-2__text4 {
  color: var(--ffffff, #fff);
  font-family: SF Pro;
  text-align: center;
  font-weight: 700;
  @apply text-[4.06px];
  @apply md:text-[8px];
  @apply lg:text-[10px];
  @apply xl:text-[14px];
  @apply leading-[5.8px];
  @apply md:leading-[10px];
  @apply lg:leading-[14px];
  @apply xl:leading-[20px];
}

.signature-group .signature__title {
  @apply info-2__text4;
}

.signature-group .signature {
}

.signature-group .signature__name {
  @apply info-2__text4;
  font-weight: 860;
}

#info-3 {
  background: url("../../../assets/images/dau-an-nien-do-info-4.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[70%];
}

.info-3__detail {
  color: #fff;
  text-align: center;
  font-family: iCiel Samsung Sharp Sans;
  font-weight: 700;
  line-height: normal;
}

.info-3__detail .detail__number {
  font-family: Quicksand;
}

#info-4 {
  background: #fff;
}

#info-4 .header__text {
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[10.154px];
  @apply md:text-[18px];
  @apply lg:text-[26px];
  @apply xl:text-[34px];
  font-style: normal;
  font-weight: 700;
  @apply leading-[16px];
  @apply md:leading-[32px];
  @apply lg:leading-[42px];
  @apply xl:leading-[52px];
  @apply animation-winkling-light;
  background: var(
    --Text-Gradient,
    linear-gradient(90deg, #007534 -0.98%, #23923c 52.79%, #50b848 100.23%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info-4 .box-1 {
  background: url("../../../assets/images/dau-an-nien-do-box-1.png");
  background-size: 100%;
  @apply w-full;
  @apply after:content-[''];
  @apply after:block;
  @apply after:pb-[34%];
}

#info-4 .box-1__decoration1 {
  @apply w-[37.984px];
  @apply md:w-[100px];
  @apply lg:w-[170px];
  @apply h-[0.5px];
  @apply md:h-[1px];
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 114, 188, 0) -1.32%,
    #0072bc 97.86%
  );
}

#info-4 .box-1__decoration2 {
  background: url("../../../assets/images/box-1-decoration-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @apply animation-winkling-light;
}

#info-4 .box-1__decoration3 {
  @apply w-[37.984px];
  @apply md:w-[100px];
  @apply lg:w-[170px];
  @apply h-[0.5px];
  @apply md:h-[1px];
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 114, 188, 0) -1.32%,
    #0072bc 97.86%
  );
}

#info-4 .box-2 {
  background: url("../../../assets/images/dau-an-nien-do-box-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @apply w-full;
  @apply after:content-[''];
  @apply after:block;
  @apply after:pb-[34%];
}

#info-4 .box-2__decoration1 {
  @apply w-[82.669px];
  @apply md:w-[200px];
  @apply lg:w-[370px];
  @apply h-[0.9px];
  @apply lg:h-[1px];
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    #50b848 7.43%,
    rgba(80, 184, 72, 0) 61.22%
  );
}

#info-4 .box-2__decoration2:hover {
  transform: scale(1.5);
  transition: transform 0.2s linear;
}

#info-4 .box-2__decoration3 {
  @apply w-[82.669px];
  @apply md:w-[200px];
  @apply lg:w-[370px];
  @apply h-[0.9px];
  @apply lg:h-[1px];
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    #50b848 7.43%,
    rgba(80, 184, 72, 0) 61.22%
  );
}

#info-4 .box-3 {
  background: url("../../../assets/images/dau-an-nien-do-box-3.png");
  background-size: 100%;
  /* background-repeat: no-repeat; */
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[171%];
}

#info-4 .box__title {
  text-align: center;
  font-family: UTM HelvetIns;
  @apply text-[11.305px];
  @apply md:text-[30px];
  @apply lg:text-[42px];
  @apply xl:text-[62px];
  @apply 3xl:text-[70px];
  font-weight: 400;
  line-height: normal;
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info-4 .box__description {
  color: var(--1-a-3966, #1a3966);
  text-align: center;
  font-family: SF Pro Regular;
  @apply text-[4.266px];
  @apply md:text-[8px];
  @apply lg:text-[11px];
  @apply xl:text-[18px];
  @apply 3xl:text-[20px];
  font-style: normal;
  font-weight: 700;
  @apply leading-[5.439px];
  @apply md:leading-[10px];
  @apply lg:leading-[16px];
  @apply xl:leading-[24px];
  @apply 3xl:leading-[29px];
}

#info-4 .box-2__decoration4 {
  background: url("../../../assets/images/box-2-decoration-4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  @apply animation-winkling-light;
}

.box-2 {
  background-color: red;
}

.box-3__title {
  color: #f4e696;
  text-align: center;
  font-family: UTM HelvetIns;
  @apply text-[10.305px];
  @apply md:text-[21px];
  @apply lg:text-[27px];
  @apply xl:text-[38px];
  @apply 3xl:text-[46px];
  font-style: normal;
  font-weight: 400;
  @apply leading-[14.932px];
  @apply md:leading-[30px];
  @apply lg:leading-[46px];
  @apply xl:leading-[60px];
  @apply 3xl:leading-[68px];
}

#info-4 .box-4 {
  background: url("../../../assets/images/dau-an-nien-do-box-4.png");
  background-size: 100%;
  /* background-repeat: no-repeat; */
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[206%];
}

#info-4 .box-5 {
  background: url("../../../assets/images/dau-an-nien-do-box-5.png");
  background-size: 100%;
  /* background-repeat: no-repeat; */
  @apply w-full;
  @apply before:content-[''];
  @apply before:block;
  @apply before:pb-[209%];
}

#info-5 {
  background-color: #fff;
}

.header-text-sample {
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[9.52px];
  @apply md:text-[18px];
  @apply lg:text-[24px];
  @apply xl:text-[34px];
  font-style: normal;
  font-weight: 700;
  @apply leading-[16px];
  @apply md:leading-[28px];
  @apply lg:leading-[38px];
  @apply xl:leading-[48px];
  @apply animation-winkling-light;
  background: var(
    --Text-Gradient,
    linear-gradient(90deg, #007534 -0.98%, #23923c 52.79%, #50b848 100.23%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info-6 .header__text,
#info-5 .header__text {
  @apply header-text-sample;
}

.content-text {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: SF Pro Regular;
  @apply text-[5.6px];
  @apply md:text-[11px];
  @apply lg:text-[13px];
  @apply xl:text-[16px];
  @apply 3xl:text-[20px];
  font-style: normal;
  font-weight: 274;
  @apply leading-[8.12px];
  @apply md:leading-[16px];
  @apply lg:leading-[22px];
  @apply xl:leading-[26px];
  @apply 3xl:leading-[30px];
}

.content-text__bold {
  font-weight: 700;
  font-family: SF Pro;
}

.content-text__highlight {
  text-align: justify;
  font-family: SF Pro;
  @apply text-[6.72px];
  @apply md:text-[12px];
  @apply lg:text-[16px];
  @apply xl:text-[20px];
  @apply 3xl:text-[24px];
  font-style: normal;
  font-weight: 510;
  @apply leading-[9.52px];
  @apply md:leading-[18px];
  @apply lg:leading-[24px];
  @apply xl:leading-[30px];
  @apply 3xl:leading-[36px];
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-text__highlight2 {
  @apply content-text__highlight;
  font-family: SF Pro Regular;
}

.content-text__highlight2 strong {
  font-weight: 700;
  font-family: SF Pro;
}

.content-block {
  @apply flex;
  @apply flex-col;
  @apply items-end;
}

.content-label__highlight {
  text-align: right;
  font-family: Myriad Pro;
  @apply text-[5.6px];
  @apply md:text-[11px];
  @apply lg:text-[12px];
  @apply xl:text-[16px];
  @apply 3xl:text-[20px];
  font-style: normal;
  font-weight: 600;
  @apply leading-[8.6px];
  @apply md:leading-[15px];
  @apply lg:leading-[18px];
  @apply xl:leading-[22px];
  @apply 3xl:leading-[28px];
  text-transform: uppercase;
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-sublabel {
  color: #58595b;
  text-align: right;
  font-family: Myriad Pro Light;
  @apply text-[5.6px];
  @apply md:text-[11px];
  @apply lg:text-[12px];
  @apply xl:text-[16px];
  @apply 3xl:text-[20px];
  font-style: normal;
  font-weight: 300;
  @apply leading-[8.6px];
  @apply md:leading-[10px];
  @apply lg:leading-[10px];
  @apply xl:leading-[15px];
  @apply 3xl:leading-[19px];
  text-transform: uppercase;
  @apply mt-[-1px];
  @apply lg:mt-0;
  @apply mb-[-4px];
  @apply lg:mb-0;
}

.content-numeric {
  text-align: right;
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[22.4px];
  @apply md:text-[40px];
  @apply lg:text-[48px];
  @apply xl:text-[64px];
  @apply 3xl:text-[80px];
  font-style: normal;
  font-weight: 700;
  @apply leading-[26px];
  @apply md:leading-[48px];
  @apply lg:leading-[52px];
  @apply xl:leading-[68px];
  @apply 3xl:leading-[80px];
  @apply mb-[-4px];
  @apply lg:mb-0;
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-label {
  color: var(--292829, #292829);
  text-align: right;
  font-family: Myriad Pro;
  @apply text-[5.04px];
  @apply md:text-[9px];
  @apply lg:text-[10px];
  @apply xl:text-[14px];
  @apply 3xl:text-[18px];
  font-style: normal;
  font-weight: 600;
  @apply leading-[normal];
  @apply lg:leading-[normal];
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.content-background {
  background: linear-gradient(
    90deg,
    #f1f1f2 67.23%,
    rgba(241, 241, 242, 0) 107.07%
  );
  @apply relative;
  @apply w-[320.88px];
  @apply md:w-[650px];
  @apply lg:w-[750px];
  @apply xl:w-[1146px];
  @apply h-[36.4px];
  @apply md:h-[72px];
  @apply lg:h-[104px];
  @apply xl:h-[124px];
  @apply flex;
  @apply justify-end;
  @apply items-center;
  @apply py-1;
  @apply lg:py-4;
  @apply pr-6;
  @apply lg:pr-12;
}

.content-small {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: SF Pro Regular;
  font-weight: 274;
  @apply text-[5.04px];
  @apply md:text-[10px];
  @apply lg:text-[11px];
  @apply xl:text-[15px];
  @apply 3xl:text-[18px];
  @apply leading-[6.72px];
  @apply md:leading-[14px];
  @apply lg:leading-[18px];
  @apply xl:leading-[21px];
  @apply 3xl:leading-[24px];
  @apply w-[270px];
  @apply md:w-[560px];
  @apply lg:w-[610px];
  @apply xl:w-[840px];
  @apply 3xl:w-[980px];
}

.content-text strong {
  font-weight: 700;
  font-family: SF Pro;
}

.chairman-name {
  color: #000;
  text-align: center;
  font-family: SF Pro Regular;
  @apply text-[3.92px];
  @apply md:text-[8px];
  @apply lg:text-[12px];
  @apply xl:text-[14px];
  font-style: normal;
  font-weight: 400;
  @apply leading-[5.6px];
  @apply md:leading-[13px];
  @apply lg:leading-[18px];
  @apply xl:leading-[20px];
}

.chairman-name strong {
  font-weight: 700;
  font-family: SF Pro;
}

.chairman-title {
  @apply chairman-name;
  font-style: italic;
  font-weight: 276;
}

.content-decoration-1 {
  @apply animation-winkling-light;
}

.info-6-divider {
  @apply w-full;
  @apply lg:w-[1000px];
  @apply 3xl:w-[1200px];
  @apply h-[0.7px];
  @apply lg:h-[1px];
  flex-shrink: 0;
  background: var(--50-b-848, #50b848);
}

#info-7,
#info-6 {
  background-color: #fff;
}

.content-title {
  font-family: UTM HelvetIns;
  text-align: justify;
  @apply text-[16.8px];
  @apply md:text-[35px];
  @apply lg:text-[39px];
  @apply xl:text-[49px];
  @apply 3xl:text-[59px];
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view-in-desktop {
  @apply hidden;
  @apply lg:block;
}

.view-in-mobile {
  @apply block;
  @apply lg:hidden;
}

.animation-heartbeat {
  animation: heartbeat 1s infinite alternate;
}
.animation-winkling-light {
  animation: winkling-light 2s infinite;
}

.chairman-image {
  @apply overflow-hidden;
}

.chairman-image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chairman-image:hover img {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.chairman-name-2 {
  @apply chairman-name;
  @apply md:text-[7px];
  @apply lg:text-[10px];
  @apply xl:text-[12px];
  @apply 3xl:text-[14px];
  @apply md:leading-[10px];
  @apply lg:leading-[12px];
  @apply xl:leading-[18px];
  @apply 3xl:leading-[20px];
}

.chairman-name-2 strong {
  font-weight: 700;
  font-family: SF Pro;
}

.chairman-title-2 {
  @apply chairman-title;
  @apply md:text-[7px];
  @apply lg:text-[10px];
  @apply xl:text-[12px];
  @apply 3xl:text-[14px];
  @apply md:leading-[10px];
  @apply lg:leading-[18px];
  @apply 3xl:leading-[20px];
}

.info-content-sample {
  @apply relative;
  @apply w-[100%];
  @apply lg:w-[800px];
  @apply xl:w-[1000px];
  @apply 3xl:w-[1200px];
  @apply px-4;
  @apply md:px-8;
  @apply lg:px-0;
}

#info-7 .header__text {
  @apply header-text-sample;
  @apply leading-[16px];
  @apply md:leading-[28px];
  @apply lg:leading-[38px];
  @apply xl:leading-[52px];
}

.header__logo {
  @apply origin-top-left;
  @apply scale-[0.3];
  @apply md:scale-[0.6];
  @apply lg:scale-[0.7];
  @apply xl:scale-[0.8];
  @apply 2xl:scale-[0.9];
  @apply 3xl:scale-[1];
  @apply w-[66px];
  @apply md:w-[132px];
  @apply lg:w-[154px];
  @apply xl:w-[176px];
  @apply 2xl:w-[198px];
  @apply 3xl:w-auto;
  @apply h-[45.3px];
  @apply md:h-[90.6px];
  @apply lg:h-[105.7px];
  @apply xl:h-[120.8px];
  @apply 2xl:h-[135.9px];
  @apply 3xl:h-auto;
  @apply mr-1;
  @apply md:mr-4;
  @apply lg:mr-4;
  @apply xl:mr-4;
  @apply 2xl:mr-4;
  @apply 3xl:mr-4;
}

.info-7__decoration1 {
  @apply relative;
  @apply mt-1;
  @apply md:mt-2;
  @apply lg:mt-3;
  @apply xl:mt-4;
  @apply 2xl:mt-4;
  @apply 3xl:mt-4;
}

.decoration1__text {
  font-family: SF Pro;
  font-weight: 860;
  @apply absolute;
  @apply top-[35%];
  @apply left-[22%];
  @apply text-[7.2px];
  @apply md:text-[14px];
  @apply lg:text-[17px];
  @apply xl:text-[22px];
  @apply 2xl:text-[23px];
  @apply 3xl:text-[26px];
  line-height: normal;
  @apply leading-[200%];
  background: var(
    --Linear,
    linear-gradient(
      0deg,
      #f4e696 -197.4%,
      #e6c36c -146.29%,
      #daa548 -92.49%,
      #d69a3b -65.59%,
      #dfb156 -19.86%,
      #f4e696 71.6%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.general-manager-image {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply mt-2;
  @apply md:mt-4;
  @apply lg:mt-6;
  @apply xl:mt-8;
}

.general-manager-image img {
  @apply w-[62%];
}

.block7_3 {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply my-4;
}

.decoration7_sample1 {
  @apply w-[40%];
  @apply h-[1px];
}

.decoration7_1 {
  @apply decoration7_sample1;
  background: linear-gradient(270deg, #50b848 62.11%, #fff 100.09%);
}

.decoration7_2 {
  @apply decoration7_sample1;
  background: linear-gradient(90deg, #50b848 62.11%, #fff 100.09%);
}

.block7_4 {
  @apply my-4;
  @apply md:my-8;
}

.block7_4__logo {
  @apply mt-3;
  @apply md:mt-4;
  @apply lg:mt-6;
  @apply xl:mt-8;
}

.content-label__highlight2 {
  @apply content-label__highlight;
  @apply text-left;
}

.number7_1 {
  color: var(--1-a-3966, #1a3966);
  font-family: iCiel Samsung Sharp Sans;
  @apply text-[26px];
  @apply md:text-[52px];
  @apply lg:text-[64px];
  @apply xl:text-[86px];
  line-height: normal;
}

.decoration7_4_1 {
  @apply mt-[2px];
  @apply md:mt-1;
  @apply lg:mt-0;
  @apply mb-2;
  @apply md:mb-4;
  @apply lg:mb-6;
  @apply xl:mb-8;
}

.content-sublabel2 {
  @apply content-sublabel;
  @apply text-left;
  @apply mx-1;
}

.block7_6 {
  @apply my-3;
  @apply md:my-6;
}

.signature7_7_1 {
  @apply my-2;
  @apply md:my-10;
  @apply w-[70%];
}

.block_header_sample {
  @apply mt-5;
  @apply md:mt-16;
  @apply xl:mt-20;
  @apply 3xl:mt-24;
  @apply mb-3;
  @apply md:mb-10;
  @apply xl:mb-14;
  @apply 3xl:mb-16;
}

.image7_10_1 {
  @apply mt-8;
  @apply md:mt-16;
  @apply xl:mt-20;
  @apply 3xl:mt-24;
}

.logo7_10_1 {
  @apply mb-2;
  @apply md:mb-8;
}

.signature7_10_1 {
  @apply my-4;
  @apply md:my-8;
}

.block7_17,
.block7_14,
.block7_11,
.block7_8 {
  @apply block_header_sample;
}

.signature7_16_1 {
  @apply my-8;
  @apply md:my-16;
  @apply xl:my-24;
  @apply 3xl:my-36;
}

.signature7_19_1 {
  @apply my-10;
  @apply md:my-24;
}

.block7_19 {
  @apply mb-8;
  @apply md:mb-12;
  @apply xl:mb-24;
}

.block7_7,
.block7_10,
.block7_13,
.block7_16,
.block7_19 {
  @apply gap-4;
  @apply md:gap-6;
  @apply lg:gap-10;
}


@media only screen and (max-width: 1536px) {
  .info-1__content {
    /* width: 1000px; */
  }
  ul.nav li {
    font-size: 12px;
  }
}
/*
@media only screen and (min-width: 1537px) {
  .content-header {
  }
} */
@keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}
@keyframes winkling-light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
