.btn-nav {
  width: 343px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  background: linear-gradient(262deg, #1D3A6C 13.75%, #1A3966 55.07%, #152551 93.16%);

  @apply md:w-[429px] md:h-[68px] md:rounded-[34px];
}
