APP_NAME=FanReturn〜インフルエンサーの「やりたい」が叶う、それがファンリターン〜
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
BASIC_AUTH=false

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=jarvis
DB_USERNAME=valleyin
DB_PASSWORD=valleyin

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS='hello@example.com'
MAIL_FROM_NAME="${APP_NAME}"

PAY_JP_SECRET_FOR_TEST="sk_test_05e7e56f44d71d21eb3f604c"
PAY_JP_KEY_FOR_TEST="pk_test_dda30b6e81be30e6f1d9bffd"

PAY_JP_SECRET="sk_live_9862d34f6d69a23a0d16043f35bef2f5c707882bc8e7024e82c08574"
PAY_JP_KEY="pk_live_45ac693756ba8b488bf44036"

PAY_PAY_KEY_FOR_TEST="a_D5vuPNjvzx_3yfJ"
PAY_APY_SECRET_FOR_TEST="0nOGbAh6081IJmdsyskD8CseEihKPCGAKqK9L0YljFc="
MERCHANT_ID="390783174539673600"
PRODUCTIO_ENV="true"
SANDBOX="false"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=129791840047-9i292cfgp9seu39gg6nbq0tpv077are3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=wgOfobc1qnG-fhb00lhLSDRt
GOOGLE_REDIRECT_URI=http://localhost/login/google/callback

FACEBOOK_APP_ID=502020121013102
FACEBOOK_APP_SECRET=5a83e1101623250c4222ea8ba0d0df42
FACEBOOK_CALLBACK_URL=http://localhost/login/facebook/callback

TWITTER_API_KEY=RAiMSzdzCAZ35jcnGNxjgzlER
TWITTER_API_KEY_SECRET=v4IwtjQeKofGYwULey0pKgjDJe88N7cn5WESiobDNnc9I7bSa4
TWITTER_CALLBACK_URL=http://localhost/login/twitter/callback

LINE_CHANNEL_ID=1656154229
LINE_APP_SECRET=436e312828b31c299c9353122a6e9cda
LINE_CALLBACK_URL=http://localhost/login/line/callback

SLACK_URL=https://hooks.slack.com/services/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
