@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1200px){
    .fixedcontainer{
        width: 90%;
    }
    .search-result{
        width: calc(100% - 300px);
    }
    .slider-nav-in{
        width: 90%;
    }
    .project-img{
        height: 18vw;
    }
    .project-banner{
        width: 90%;
    }.project-list .project-one{
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .project-list .project-one:nth-child(3n){
        margin-right: 0%;
    }
    .search-result .project-one{
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .search-result .project-one:nth-child(3n){
        margin-right: 4%;
    }
    .search-result .project-one:nth-child(2n){
        margin-right: 0;
    }
    .detail_imgs{
        width: calc(100% - 366px);
    }
    .about{
        width: calc(100% - 366px);
    }
}
@media screen and (max-width:999px){
.visible-sp{
	display:block !important;
}
.hidden-sp{
	display:none !important;
}
body{
	font-size: 12px;
	line-height: 1.6;
}
.slider-nav{
    display: none;
}
.fixedcontainer{
    width: 90%;
}
.slider-nav-in{
    width: 90%;
}
.header_in{
    height: auto;
    overflow: hidden;
    font-size: 14px;
    padding-top: 10px;
}
header{
    border-top-width: 4px;
}
.logo{
    position: initial;
    transform: none;
    text-align: left;
    width: 150px;
    float: left;
    padding-bottom: 10px;
    margin-left: 3%;
}
.header_right{
    margin-right: 3%;
}
.header_right>a{
    padding: 10px;
}
.header_right>a:last-child{
    background-color: #ff1493;
    border-radius: 5px;
    color: #fff;
}
.header_left{
    float: none;
    padding: 0 3%;
    width: 100%;
    border-top: 1px solid #ebeae9;
}
.header_left>a{
    width: 50%;
    padding: 15px;
}
.main_menu-body {
	top: 45px;
	left: -50%;
	transform: translateX(21%);
	padding: 0 15px 15px;
    width: 200px;
}
.main_menu-body a {
	padding: 10px;
}
header .fixedcontainer{
    width: 100%;
}
.main{
    height: 300px;
}
.main_txt{
    font-size: 18px;
    bottom: 90px;
}
.slider-for .slick-slide{
    height: 300px;
}
.main_btn{
    font-size: 12px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 5px;
    bottom: 40px;
}
.content{
    padding: 40px 0;
}
.sec-ttl{
    font-size: 16px;
    margin-bottom: 16px;
}
.project-banner-img{
    width: 120px;
    height: 90px;
}
.project-banner{
    width: 100%;
}
.project-banner-content{
    width: calc(100% - 120px);
}
.project-banner-cat{
    font-size: 10px;
    padding: 1px 5px 2px;
}
.project-banner-ttl{
    font-size: 12px;
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
.section{
    margin-bottom: 40px;
}
.project-list .project-one{
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
}
.project-list .project-one:nth-child(3n){
    margin-right: 4%;
}
.project-list .project-one:nth-child(2n){
    margin-right: 0;
}

.project-content-ttl{
    font-size: 12px;
}
.project-content ul{
    font-size: 10px;
}
.project-user{
    margin-bottom: 5px;
}
.project-user img{
    width: 20px;
    height: 20px;
}
.project-cat{
    font-size: 10px;
    padding: 1px 5px 2px;
}
.project-img{
    height: 24vw;
}
footer{
    padding: 40px 0 30px;
}
.footer_in1{
    display: block;
}
.footer_in1>div{
    width: 100%;
    margin-bottom: 20px;
}
.footer_in1>div>ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.footer_in1>div>ul>li{
    width: 50%;
}
.footer_in1>div>p{
    font-size: 14px;
}
.footer_in2{
    margin: 20px 0;
    display: block;
}
.footer_in2>div{
    display: block;
    text-align: center;
}
.footer_in2>div:nth-child(2)>a{
    margin: 10px;
    display: inline-block;
}
.footer_in2>div:last-child>a{
    margin: 10px;
    display: inline-block;
}
.footer_in3{
    display: block;
    padding-top: 20px;
    text-align: center;
}
.footer_in3 p:first-child a{
    margin: 5px 10px;
    display: inline-block;
}
.footer_in3 p:first-child{
    margin-bottom: 10px;
}

.search-sidebar{
    float: none;
    margin-bottom: 20px;
    width: calc(100% - 55px);
}
.search-sidebar form .select-wrap.btn-wrap{
    justify-content: center;
}
.btn-wrap button:first-child{
    margin-right: 10px;
}
.breadcrumb{
    margin-bottom: 20px;
}
.search-result{
    width: 100%;
    float: none;
}
.search-result .project-one:nth-child(3n){
    margin-right: 4%;
}
.search-result .project-one:nth-child(2n){
    margin-right: 0;
}
.sub_content{
    padding-top: 10px;
}
.detail-user{
    font-size: 12px;
    margin-bottom: 20px;
}
.detail_imgs{
    width: 100%;
    margin-bottom: 20px;
}
.detail_info{
    display: block;
}
.detail_info_content{
    width: 100%;
    padding: 20px 15px;
}
.detail_info_content p{
    font-size: 14px;
}
.detail_info_content div span{
    font-size: 24px;
}
.detail_info_content div{
    font-size: 16px;
    margin-bottom: 20px;
}
.tab{
    margin: 30px 0 20px;
}
.tab-link a{
    width: 33.33%;
}
.detail-sns{
    margin-bottom: 20px;
    float: none;
    justify-content: center;
}
.detail-sns a{
    margin: 0 10px;
}
.tab-link{
    float: none;
    width: 100%;
}
.tab_type1{
    display: block;
}
.tabcontent h2{
    font-size: 18px;
    margin-bottom: 15px;
}
.about{
    width: 100%;
    margin-bottom: 20px;
}
.about div{
    border-radius: 5px;
    padding: 15px;
}
.plan-price{
    font-size: 14px;
}
.plan{
    margin-bottom: 15px;
}
.plan-div{
    width: 100%;
}
.news{
    padding: 20px 15px;
}
.news-imgs-in{
    width: 100%;
}
.news-ttl{
    font-size: 16px;
    margin-bottom: 30px;
}
.news-imgs{
    margin-bottom: 20px;
}
.post{
    padding: 15px;
    margin-bottom: 20px;
}
.post-form{
    padding: 15px;
    margin-bottom: 20px;
}
.post-icons{
    position: initial;
    justify-content: flex-end;
}
.post-icons p{
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 10px;
}
.post-user{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.post-content{
    width: calc(100% - 50px);
}
.comment-user{
    margin: 0 10px 0 0;
}
.news-imgs-for .slick-slide{
    margin: 0 5px;
}
.news-imgs-for{
    width: 100%;
}
.news-imgs-for .slick-prev{
    left: 10px;
}
.news-imgs-for .slick-next{
    right: 10px;
}
.slick-prev{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.slick-next{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
}



/**追加CSS***/



@media screen and (max-width:999px){
	.header_in {overflow:inherit;}
	.header_submenu { top: 115px;}
	#search:hover+.header_submenu { height: auto;}
	.header_left>a:hover {color: inherit; border-bottom:none;}
	.header_submenu .fixedcontainer {padding: 20px 0; }
	.header_submenu p { font-size: 14px; margin-bottom:10px;}
	.f_b_01 { width: 46%; margin: 5px 2%;}
	.f_b_02{ width: 50%; margin: 10px auto 5px auto;}
	.header_submenu ul { font-size: 12px; line-height: 1.3;  align-items: center;}
	.header_submenu ul li { margin-bottom:auto; width: 46%; margin: 5px 2%;}
	.logo { line-height: 1; width: 160px; text-align: center;}
	.logo_txt{ font-size: 9px;}

	.plan-price {font-size: 16px;}
	.footer_in1>div>p{ position: relative;}
	.footer_in1>div>p a{ padding: 0 10px 0 0; background: #333; z-index: 1; position: inherit;}
	.footer_in1>div>p:after { position: absolute; content: ""; height: 0px; width: 100%; border-bottom: dotted 1px #666; top:50%; left: 0; z-index: 0;}
	.search-sidebar {width:100%;}
	.fixed_right {right:0; left: 0%; top:auto; bottom: 0%; transform: none;-ms-writing-mode: lr-tb; background-color: rgba(255,255,255,0.8);
	writing-mode: horizontal-tb; text-align: center; border-radius: 0; padding: 12px; border-bottom: none; border-left: none;}
	.fixed_bottom{bottom: 55px;	right: 15px;}
}

@media screen and (max-width:345px){
	.header_submenu { top: 111px;}
	.logo { line-height: 1; width: 140px; text-align: center;}
	.logo img {padding: 5px 0 0 0;}
	.logo br{display: none;}
	.logo span{display: none;}
}

/**※239行目
.header_submenu{
    display: none !important;
}
を削除しました。
**/

/*絞り込み検索アコーディオン*/
@media screen and (max-width: 999px){

	.cfh_acd-check{
		display: none;
	}
	.cfh_acd-label{
		background: #999;
		color: #fff;
		display: block;
		padding: 10px;
		position: relative;
	}
	.cfh_acd-label:after{
		background: #666;
		box-sizing: border-box;
		content: '\f067';
		font-weight:900;
		display: block;
		font-family: "Font Awesome 5 Free";
		padding: 10px 14px;
		position: absolute;
		right: 0;
		top: 0px;
	}
	.cfh_acd-content{
		background: #dfdfdf;
		display: block;
		height: 0;
		opacity: 0;
		padding: 0 10px;
		transition: .5s;
		visibility: hidden;
	}
	.cfh_acd-check:checked + .cfh_acd-label:after{
		content: '\f068';
		font-weight:900;
	}
	.cfh_acd-check:checked + .cfh_acd-label + .cfh_acd-content{
		height: auto;
		opacity: 1;
		padding: 10px 10px 1px 10px;
		visibility: visible;
	}
}

@media screen and (min-width: 1200px) {
    .project-list .my-page_project-one {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .project-list .my-page_project-one:nth-child(3n) {
        margin-right: 0%;
    }
}









