@charset "utf-8";
/* CSS Document */

body {font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;}
b, strong, .bold{	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;}
/* IEだけに適応 */
_:lang(x)::-ms-backdrop, .selector {	font-family: "Segoe UI", Meiryo, sans-serif;}

.E-font{font-family: 'Montserrat', sans-serif;}

html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;/* 16px*/
    line-height: 1.5;
}
h1 {
    font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
    line-height: 1.3;
}
h2 {
    font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
    line-height: 1.3;
}

.f_c_pri{ color: #00AEBD;}
.f_b_pri{ background: #00AEBD;}

img{ width: 100%;}


.main_inner{ width: 100%; max-width: 1000px; margin: 0 auto;}
.section_base{ padding: 0 0; margin: 50px auto 100px auto;}

.cover_link{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1;}

.okini_link{ position: absolute; z-index: 2; bottom: 3px; right: 6px; font-size: 2.0rem; color: #fff;}
.okini_link_L{ position: absolute; z-index: 2; bottom: 5px; right: 10px; font-size: 2.8rem; color: #fff;}

/**header********************************************************************/
.menuset_01{ order: 1;}
.menuset_02{display: none !important;}
.menuset_03{ order: 3;}
.menuset_04{ order: 4;}
.login_btn{ background: #fff; width: 96px; border: solid 1px #00AEBD; border-radius: 5px;}
.signup_btn{ background: #00AEBD; width: 96px; border-radius: 5px;}
.signup_btn a { color: #fff;}

.header_serch_box {display: flex; align-items: center; border-bottom: solid 2px #00AEBD; margin: 0 0 0 25px;}
.header_serch_box input{ border: none; padding: 0 0 0 5px; height: 100%; }
.header_serch_box input::placeholder { font-size: 1rem; color: #CBCBCB;}
.header_serch_box i{font-size: 1.7rem;  color: #00AEBD;}

@media screen and (max-width: 960px){
	.menuset_01{ order: 3;}
	.menuset_02{display:flex !important; order: 4; }
	.menuset_03{ order: 2;}
	.menuset_04{ order: 1;}
	.header_serch_box {border-bottom: solid 2px #fff; margin: 0 0 0 0px; margin: 0 0 15px 0; }
	.header_serch_box input{ border: none; padding: 0 0 0 5px; height: 100%; background: transparent; padding: 10px; width: 100%;}
	.header_serch_box input::placeholder { font-size: 1rem; color: #fff;}
	.header_serch_box i{  color: #fff;}
}

.pri_b{background-color:#000000;}
.pri_W_b{background-color:#b5b5b5;}
.global-navi{width:100%;}
.navgation_inner{width:100%;max-width:1200px;margin:0 auto;}

header,nav{display:block;}
a{text-decoration:none;}
img{-webkit-backface-visibility:hidden;}
.menu-item-has-children{position:relative;flex-grow:1;display:flex;flex-wrap:wrap;align-items:center;}
.item_c{width:100%;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;}
#nav-tgl{display:none;}
ul li{list-style:none;}
header{width:100%;z-index:50;background:#fff;margin:0 auto; font-size: 1.3rem; font-weight: bold;}
.taso_menu input[type="checkbox"]{display:none;}
.taso_li{line-height:1;}
.taso_menu .taso_li{position:relative;}
.taso_menu .taso_li .taso_ul{position:absolute;z-index:10;}
.taso_menu > .taso_li > .taso_ul .taso_li{display:none;padding:0 0 0 10px;border-bottom:solid 1px #fff;}
.taso_menu .taso_li .taso_ul .taso_li:first-child{border-top:none;}
.taso_menu .taso_li .taso_ul .taso_li:last-child{border-bottom:1px none;}
.taso_menu > .taso_li > .taso_ul{width:100%;}
#header_01{display:flex;flex-wrap:wrap;align-items:center;}
.h_logo_css{width:224px;margin:2px 0 0 0;display:block;}
.h_logo_css_sp{display:none;}
#branding{display:flex;flex-wrap:wrap;justify-content:space-between; height:80px; padding:0 5px;line-height:1; width:240px;}
#header_03{display:none;}
#menu{width: 800px;display:flex;flex-wrap:wrap;align-items:center; background:#fff;}
.navgation_inner{width:100%;}
.drower_disc{display:none;}
.nav_btn_tit_L{color:#00AEBD;}
.menu_base{display:flex;flex-wrap:wrap;justify-content:space-between; height: 33px; max-width: 800px;}
.nav_btn_link{display:flex;flex-wrap:wrap;align-items:center;text-align:center;width:100%;}
.nav_btn_link:hover{opacity:0.7;}
.taso_menu > .taso_li > .taso_ul{top:65px;}

.top_menu-1{ height:33px; border-radius:0px;padding:0 20px;}
#header_wrap{ width: 100%; min-height: 80px; box-shadow: 0px 2px 5px 0px rgba(157,157,157,0.16); }
#header{width:100%;max-width:1100px; min-height:80px; display: flex; flex-flow: wrap; justify-content:space-between;}

#wm_btn{ display:none; width: 230px; }
.wm_login_btn{ background: #fff; width: 96px; border: solid 1px #00AEBD; border-radius: 5px; margin: 0 0 0 0; padding: 10px 0 10px 0; display: flex; align-items: center; align-content: center; justify-content: center; }
.wm_login_btn a { color: #00AEBD;}
.wm_signup_btn{ background: #00AEBD; width: 96px; border-radius: 5px; margin: 0 30px 0 0; padding: 10px 0 10px 0; display: flex; align-items: center; align-content: center; justify-content: center;}
.wm_signup_btn a { color: #fff;}
.ninki_tag_li div{ width: 96%; margin: 0 2% 10px 2%;}
.ninki_tag_li a {color: #00AEBD !important;}

@media screen and (max-width: 1000px){
	header{font-size: 1.4rem;}
	#header_wrap{height:65px;}
	#header{height:65px;}
	#wm_btn{ display: flex; align-items: center; align-content: center; justify-content:space-between;}
	#header_03{display:flex;flex-wrap:wrap;align-items:center; max-width: 350px; }
	.menu_base{ height: auto; padding: 0 15px;}
	.item_c{justify-content:flex-start;padding:0 0 0 7px;}
	.navgation_inner{width:100%;}
	#nav-tgl{display:none;}
	.nav-tgl-btn{cursor:pointer;position:relative;top:0;right:0;margin:0;}
	.open{z-index:2;width:40px;height:40px;transition:background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1); background: #fff;}
	.open::before,.open::after{content:"";}
	.open span,.open::before,.open::after{content:"";position:absolute;top:calc(50% - 1px);right:10%;width:80%;border-bottom:2px solid #00AEBD;transition:transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);}
	.open::before{transform:translateY(-8px); width:60%;}
	.open::after{transform:translateY(8px);}
	.close{z-index:1;width:100%;height:100%;pointer-events:none;transition:background .6s;position:fixed;top:0;left:0;}
	#nav-tgl_clone:checked + .open{transform:translateX(0px);}
	#nav-tgl_clone:checked + .open span{transform:scaleX(0); width:60%;right:20%;}
	#nav-tgl_clone:checked + .open::before{transform:rotate(45deg); width:60%;right:20%;}
	#nav-tgl_clone:checked + .open::after{transform:rotate(-45deg); width:60%;right:20%;}
	#nav-tgl_clone:checked ~ .close{pointer-events:auto;background:rgba(0,0,0,.3);z-index:5;}
	.drower-menu{z-index:999;position:fixed;overflow:auto;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;top:0;left:0;width:280px;height:100%;margin:0;padding:0 0 10px;box-sizing:border-box;transform:translateX(-100%);transition:transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);background:#fff;}
	#nav-tgl:checked ~ .drower-menu{transform:none;}
	.nav_btn_link:hover{opacity:1;}
	.taso_menu .taso_li{height:auto; width:100%; border-bottom: solid 1px #fff;}
	.taso_menu > .taso_li .pd{height:100%;display:flex;justify-content:center;flex-wrap:wrap;align-items:center;}
	.taso_menu .taso_li i{padding:0px 6px;}
	.taso_menu .taso_li_ko{background-color:rgba(0,0,0,0);}
	.taso_menu > .taso_li:hover > .taso_ul > .taso_li{display:flex;flex-wrap:wrap;align-items:center;}
	.taso_menu .taso_li_ko{background-color:rgba(0,0,0,0);}
	.taso_li_a{width:calc(100% - 35px)!important;}
	#menu-item-2 > .taso_li_a_label{width:35px;}
	.taso_li_a_label{width:35px;height:44px;background-color:rgba(255,255,255,0);}
	.taso_menu > .taso_li > .taso_ul{top:0px;}
	.taso_menu > .taso_li > label:hover{cursor:pointer;cursor:hand;}
	.taso_menu .taso_li .taso_ul{position:static;}
	.taso_menu > .taso_li > .taso_ul .taso_li{display:block;padding:0 0 0 10px;border-bottom:solid 1px #fff;}
	.taso_menu > .taso_li > .taso_ul{margin-left:initial;position:relative;}
	.taso_menu .taso_ul .taso_li:last-child{border-bottom:none;}
	.taso_menu .taso_li .taso_ul .taso_li:last-child{border-bottom:none;}
	.taso_menu > .taso_li input[type="checkbox"] ~ label ~ .taso_ul{overflow-y:hidden;display:none;}
	.taso_menu > .taso_li input[type="checkbox"]:checked ~ label ~ .taso_ul{max-height:inherit;overflow-y:visible;display:flex;flex-wrap:wrap;align-items:center;}
	.taso_menu > .taso_li input[type="checkbox"]:checked ~ label ~ .taso_ul > .taso_li{display:flex;flex-wrap:wrap;align-items:center;}
	.fa-chevron-down:before{content:"\f078"; color: #fff;}
	.taso_menu input[type="checkbox"]:checked ~ label .pd .fa-chevron-down:before{content:"\f077"; color: #fff;}
	#branding{width:100%;height:65px;padding:0 5px;}
	.h_logo_css{width:158px;}
	.h_logo_css_sp{width:154px;display:block; padding: 15px;}
	#menu{width:0;}
	.drower_disc{display:block;}
	.nav_btn_tit_L{color:#ffffff;line-height:1;}
	.taso_menu > .taso_li > .taso_ul{top:0px;}
	.drower-menu{background:#00AEBD;}
	.taso_li a{color:#fff;}
	.login_btn{ background: #00AEBD; border: solid 1px #fff; border-radius: 5px; width: calc(50% - 7px) !important; margin: 0 7px 10px 0; }
	.signup_btn{ background: #fff ; border-radius: 5px;  width: calc(50% - 7px) !important; margin: 0 0 10px 7px;}
	.signup_btn a{ color:#00AEBD; }
	.login_btn .nav_btn_link{ display: inline;}
	.signup_btn .nav_btn_link{ display: inline;}
	.top_menu-1{ height: auto; padding:15px 7px;}
}


@media screen and (max-width: 500px){
#wm_btn{ display:none;}
}

/**footer********************************************************************/
footer{background: #F4F4F4; font-size: 1.4rem; font-weight: bold;}
footer a{ color: #707070;}

.footer-over_base{ width: 100%; max-width: 760px; margin: 80px auto 50px auto; display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between;}
.footer-over_L{ display: flex; align-items: center; align-content: center; justify-content:space-between; border: solid 1px #1C81D8; padding: 14px 25px; width: calc(50% - 15px);}
.footer-over_L_01{ width: 60px;}
.footer-over_L_01 img {width: 100%;}
.footer-over_L_02{}
.footer-over_L_02_01{ font-size: 1.2rem; color:#1C81D8; }
.footer-over_L_02_02{ font-size: 1.8rem; font-weight: bold; color:#1C81D8;}
.footer-over_L_03{ font-size: 1.8rem; color:#1C81D8;}
.footer-over_R{ display: flex; align-items: center; align-content: center; justify-content:space-between; border: solid 1px #EC111A; padding: 14px 25px; width: calc(50% - 15px);}
.footer-over_R_01{ width: 60px;}
.footer-over_R_01 img {width: 100%;}
.footer-over_R_02{}
.footer-over_R_02_01{ font-size: 1.2rem; color:#EC111A; }
.footer-over_R_02_02{ font-size: 1.8rem; font-weight: bold; color:#EC111A;}
.footer-over_R_03{ font-size: 1.8rem; color:#EC111A;}

.footer_main{ padding: 50px 0; }
.footer_main_inner{width:100%;max-width:1000px;margin:0 auto; display: flex; flex-wrap: wrap;}
.footer_main_01{ width: 50%; border-right: solid 1px #fff; padding:20px 0 20px 0;}
.footer_main_02{ width: 25%; border-right: solid 1px #fff; padding:20px 0 20px 20px;}
.footer_main_03{ width: 25%; padding:20px 0 20px 20px;}
.footer_tit{ width: 100%; font-size: 1.6rem; color:#00AEBD ; margin: 0 0 20px 0; }
.footer_item{ margin: 0 0 15px 0;}
.footer_sns_icon img{ width: 32px; margin: 0 15px 0 0;}
.dis_f_wra_alc{display: flex; flex-wrap: wrap; align-items: center; align-content: center;}

.footer_under{ background: #fff; padding: 30px 0; }
.footer_under_inner{width:100%;max-width:1000px;margin:0 auto; display: flex; flex-wrap: wrap; align-items: center; align-content: center;}
.footer_under ul { display: flex; flex-wrap: wrap; align-items: center; align-content: center; }
.footer_under ul li{ margin: 0 25px 0 0;}
.footer_logo { margin: 0 25px 0 0;}
.footer_logo img {width: 180px;}

@media screen and (max-width: 768px){
	.footer-over_base{ width: 100%; padding: 0 15px;}
	.footer-over_L{width: 100%; margin: 0 0 15px 0;}
	.footer-over_R{width: 100%;}
	.footer-over_L_01{ width: 50px;}
	.footer-over_R_01{ width: 50px;}
	
	.footer_main{ padding: 30px 0; }
	.footer_main_inner{ display: block; padding: 0 15px;}
	.footer_main_01{ width: 100%; border-right: none; padding:20px 0 ; border-bottom: solid 1px #fff;}
	.footer_main_02{ width: 100%; border-right: none; padding:20px 0; border-bottom: solid 1px #fff;}
	.footer_main_03{ width: 100%;  padding:20px 0;}
	
	.footer_under{ padding: 10px 15px; }
	.footer_logo { margin: 0 0 15px 0; width: 100%;}
	.footer_under ul { justify-content: space-between; }
	.footer_under ul li{ margin: 0 0 15px 0;  width: calc(50% - 6px);}
}
@media screen and (max-width: 390px){
	.footer-over_L{ padding: 10px 10px;}
	.footer-over_R{ padding: 10px 10px;}
}



/**チェックボックス ラジオボタン********************************************************************/

input[type=checkbox] {
    display: none;
}
.checkbox-fan {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox-fan::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox-fan::after {
    border-right: 5px solid #00AEBD;
    border-bottom: 3px solid #00AEBD;
    content: '';
    display: block;
    height: 20px;
    left: 0.7rem;
    margin-top: -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 14px;
}
input[type=checkbox]:checked + .checkbox-fan::before {
    border-color: #666;
}
input[type=checkbox]:checked + .checkbox-fan::after {
    opacity: 1;
}

/*  */
input[type=radio] {
    display: none;
}
.radio-fan {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.radio-fan::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.radio-fan::after {
    background: #00AEBD;
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    left: 10px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 8px;
}
input[type=radio]:checked + .radio-fan::before {
    border-color: #666;
}
input[type=radio]:checked + .radio-fan::after {
    opacity: 1;
}



/**PC-top********************************************************************/

.img_box_01{display: flex; flex-wrap: wrap; justify-content:space-between; width: 100%;}
.img_box_01_L{ width: calc(50% - 8px); display: flex; flex-wrap: wrap; padding: 0 0 15px 0;}
.img_box_01_R{ width: calc(50% - 8px); display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between;}


.img_box_01_L_item{  box-shadow: 0px 3px 8px 0px rgba(173,173,173,0.15); border-radius: 8px; min-height: 565px; position: relative;}
.ib01L_01{ border-radius: 8px; margin: 0 0 15px 0; position: relative;}
.ib01L_01 img { width: 100%; border-radius: 8px 8px 0px 0px;}
.ib01L_02{ padding: 0 15px; margin: 0 0 15px 0;}
.ib01L_02 .progress-bar{ width: 100%; height: 10px; background: #eee; border-radius: 5px;}
.ib01L_02 .progress-bar span { display:block; height: 10px; border-radius: 5px; background: #00aebd; background: -moz-linear-gradient(left,  #00aebd 0%, #fff200 100%); background: -webkit-linear-gradient(left,  #00aebd 0%,#fff200 100%); background: linear-gradient(to right,  #00aebd 0%,#fff200 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebd', endColorstr='#fff200',GradientType=1 ); }

.img_box_01_L .progress-bar_par{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; margin-bottom: 3px;}
.img_box_01_L .progress-bar_par div{ font-size: 0.9rem; color:#00aebd; }

.ib01L_03{ padding: 0 15px; margin: 0 0 30px 0; position: relative;}
.ib01L_03 h2{ font-size: 1.6rem; color: #707070;}
.ib01L_04{display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 15px; margin: 0 0 5px 0; position: absolute; bottom: 0;}
.ib01L_04 div{ margin: 0 20px 10px 0; font-size: 1.4rem;}
.ib01L_04 div span{ font-weight: bold; color:#00aebd; }

.ib01L_cate_tag{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 15px;}
.cate_tag_link{ padding: 6px 12px; border: solid 1px #00aebd; color: #00aebd; border-radius: 12px; font-size: 1.2rem; font-weight: bold; margin: 0 10px 10px 0; line-height: 1; }


.img_box_01_R_item{ width: calc(50% - 6px); margin-bottom: 15px;  box-shadow: 0px 3px 8px 0px rgba(173,173,173,0.15); border-radius: 8px; min-height: 275px; position: relative;}
.ib01R_01{ border-radius: 8px; margin: 0 0 10px 0; position: relative;}
.ib01R_01 img { width: 100%; border-radius: 8px 8px 0px 0px;}
.ib01R_02{ padding: 0 10px; margin: 0 0 10px 0;}
.ib01R_02 .progress-bar{ width: 100%; height: 7px; background: #eee; border-radius: 5px;}
.ib01R_02 .progress-bar span { display:block; height: 7px; border-radius: 5px; background: #00aebd; background: -moz-linear-gradient(left,  #00aebd 0%, #fff200 100%); background: -webkit-linear-gradient(left,  #00aebd 0%,#fff200 100%); background: linear-gradient(to right,  #00aebd 0%,#fff200 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebd', endColorstr='#fff200',GradientType=1 ); }

.img_box_01_R .progress-bar_par{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; margin-bottom: 0px;}
.img_box_01_R .progress-bar_par div{ font-size: 0.8rem; color:#00aebd; }

.ib01R_03{ padding: 0 10px; margin: 0 0 10px 0; position: relative;}
.ib01R_03 h3{ font-size: 1.3rem; color: #707070;}
.ib01R_04{display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 10px; margin: 0 0 0px 0; position: absolute; bottom: 0;}
.ib01R_04 div{ margin: 0 12px 10px 0; font-size: 1rem;}
.ib01R_04 div span{ font-weight: bold; color:#00aebd; }

@media screen and (max-width: 768px){
	.img_box_01_L{ width: 100%;}
	.img_box_01_R{ width: 100%;}
	.img_box_01_L_item{ min-height: auto;}
	.img_box_01_R_item{ min-height: auto;}
	.ib01L_03{margin: 0 0 50px 0;}
	.ib01R_03{margin: 0 0 30px 0;}

}

.tit_L_01{ width: 100%; text-align: center; color:#00aebd ; margin: 0 auto 40px auto;}
.tit_L_01 h2{ font-size: 4.0rem; font-weight: bold;}
.sub_tit_L{ font-size: 2.0rem; font-weight: bold;}
.cate_tag_01{ display: flex; flex-wrap: wrap; align-items: center; align-content: center;}
.cate_tag_01 a { font-size: 1.6rem; color:#00aebd ; padding: 8px 15px; border: solid 1px #00aebd ; border-radius: 15px; background: #fff; margin: 0 10px 10px 0;}



.img_box_02{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 0 15px 0;}
.img_box_02::before{ content:"";  display: block;  width: calc(25% - 12px);  order:1;}
.img_box_02::after{  content:"";  display: block;  width: calc(25% - 12px);}

.img_box_02_item{ width: calc(25% - 12px); margin-bottom: 15px;  box-shadow: 0px 3px 8px 0px rgba(173,173,173,0.15); border-radius: 8px; min-height: 275px; position: relative;}
.ib02_01{ border-radius: 8px; margin: 0 0 10px 0; position: relative;}
.ib02_01 img { width: 100%; border-radius: 8px 8px 0px 0px;}
.ib02_02{ padding: 0 10px; margin: 0 0 10px 0;}
.ib02_02 .progress-bar{ width: 100%; height: 7px; background: #eee; border-radius: 5px;}
.ib02_02 .progress-bar span { display:block; height: 7px; border-radius: 5px; background: #00aebd; background: -moz-linear-gradient(left,  #00aebd 0%, #fff200 100%); background: -webkit-linear-gradient(left,  #00aebd 0%,#fff200 100%); background: linear-gradient(to right,  #00aebd 0%,#fff200 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebd', endColorstr='#fff200',GradientType=1 ); }

.img_box_02 .progress-bar_par{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; margin-bottom: 0px;}
.img_box_02 .progress-bar_par div{ font-size: 0.8rem; color:#00aebd; }

.ib02_03{ padding: 0 10px; margin: 0 0 10px 0; position: relative;}
.ib02_03 h3{ font-size: 1.3rem; color: #707070;}
.ib02_04{display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 10px; margin: 0 0 0px 0; position: absolute; bottom: 0;}
.ib02_04 div{ margin: 0 12px 10px 0; font-size: 1rem;}
.ib02_04 div span{ font-weight: bold; color:#00aebd; }

@media screen and (max-width: 768px){
	.img_box_02{ width: 100%;}
	.img_box_02_item{ min-height: auto; width: calc(50% - 6px);}
	.ib02_03{margin: 0 0 30px 0;}

}




.img_box_03{display: flex; flex-wrap: wrap; justify-content:space-between; width: 100%;}
.img_box_03_L{ width: calc(50% - 8px); display: flex; flex-wrap: wrap; padding: 0 0 15px 0;}
.img_box_03_R{ width: calc(50% - 8px); display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between;}


.img_box_03_L_item{  box-shadow: 0px 3px 8px 0px rgba(173,173,173,0.15); border-radius: 8px; min-height: 565px; position: relative;}
.ib03L_01{ border-radius: 8px; margin: 0 0 15px 0; position: relative;}
.ib03L_01 img { width: 100%; border-radius: 8px 8px 0px 0px;}
.ib03L_02{ padding: 0 15px; margin: 0 0 15px 0;}
.ib03L_02 .progress-bar{ width: 100%; height: 10px; background: #eee; border-radius: 5px;}
.ib03L_02 .progress-bar span { display:block; height: 10px; border-radius: 5px; background: #00aebd; background: -moz-linear-gradient(left,  #00aebd 0%, #fff200 100%); background: -webkit-linear-gradient(left,  #00aebd 0%,#fff200 100%); background: linear-gradient(to right,  #00aebd 0%,#fff200 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebd', endColorstr='#fff200',GradientType=1 ); }

.img_box_03_L .progress-bar_par{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; margin-bottom: 3px;}
.img_box_03_L .progress-bar_par div{ font-size: 0.9rem; color:#00aebd; }

.ib03L_03{ padding: 0 15px; margin: 0 0 30px 0; position: relative;}
.ib03L_03 h2{ font-size: 1.6rem; color: #707070;}
.ib03L_04{display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 15px; margin: 0 0 5px 0; position: absolute; bottom: 0;}
.ib03L_04 div{ margin: 0 20px 10px 0; font-size: 1.4rem;}
.ib03L_04 div span{ font-weight: bold; color:#00aebd; }

.ib03L_rank{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 15px;}
.ib03L_rank_01{ margin: 0 10px 0 0;}
.ib03L_rank_02{ margin: 0 10px 0 0; font-weight: bold; font-size: 2.6rem; color: #555353;}
.ib03L_rank_03{ font-weight: bold; font-size: 1.5rem; color: #EC111A;}

.ib03R_rank{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 10px;}
.ib03R_rank_01{ margin: 0 10px 0 0;}
.ib03R_rank_02{ margin: 0 10px 0 0; font-weight: bold; font-size: 2.0rem; color: #555353;}
.ib03R_rank_03{ font-weight: bold; font-size: 1.2rem; color: #EC111A;}

.rank_color_01{fill:#F5B82B;} 
.rank_color_02{fill:#BEBEBE;} 
.rank_color_03{fill:#BF9331;} 
.rank_color_04{fill:#00aebd;} 

.img_box_03_R_item{ width: calc(50% - 6px); margin-bottom: 15px;  box-shadow: 0px 3px 8px 0px rgba(173,173,173,0.15); border-radius: 8px; min-height: 275px; position: relative;}
.ib03R_01{ border-radius: 8px; margin: 0 0 10px 0; position: relative;}
.ib03R_01 img { width: 100%; border-radius: 8px 8px 0px 0px;}
.ib03R_02{ padding: 0 10px; margin: 0 0 10px 0;}
.ib03R_02 .progress-bar{ width: 100%; height: 7px; background: #eee; border-radius: 5px;}
.ib03R_02 .progress-bar span { display:block; height: 7px; border-radius: 5px; background: #00aebd; background: -moz-linear-gradient(left,  #00aebd 0%, #fff200 100%); background: -webkit-linear-gradient(left,  #00aebd 0%,#fff200 100%); background: linear-gradient(to right,  #00aebd 0%,#fff200 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebd', endColorstr='#fff200',GradientType=1 ); }

.img_box_03_R .progress-bar_par{ display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; margin-bottom: 0px;}
.img_box_03_R .progress-bar_par div{ font-size: 0.8rem; color:#00aebd; }

.ib03R_03{ padding: 0 10px; margin: 0 0 10px 0; position: relative; }
.ib03R_03 h3{ font-size: 1.0rem; color: #707070;}
.ib03R_04{display: flex; flex-wrap: wrap; align-items: center; align-content: center; padding: 0 10px; margin: 0 0 0px 0; position: absolute; bottom: 0;}
.ib03R_04 div{ margin: 0 12px 10px 0; font-size: 1rem;}
.ib03R_04 div span{ font-weight: bold; color:#00aebd; }

@media screen and (max-width: 768px){
	.img_box_03_L{ width: 100%;}
	.img_box_03_R{ width: 100%;}
	.img_box_03_L_item{ min-height: auto;}
	.img_box_03_R_item{ min-height: auto;}
	.ib03L_03{margin: 0 0 50px 0;}
	.ib03R_03{margin: 0 0 30px 0;}

}



.more_btn_01{display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content:space-between; background: #00AEBD; border-radius: 31px; padding: 8px; margin: 30px auto 0 auto; width: 100%; max-width: 282px; position: relative;}
.more_btn_01_01{ width: 80%; font-size: 2.2rem; font-weight: bold; color: #fff; text-align: center; }
.more_btn_01_02{ width: 20%; font-size: 2.5rem; color: #fff;}

.new_project_obi{ position: relative; overflow: hidden;}
.new_project_obi:before{ content: "NEW"; font-weight: bold; font-size: 1.5rem; color: #fff; width: 150px; padding: 1px 10px; text-align: center; background: #00AEBD; position: absolute; top: 15px; left: -46px; transform: rotate(-45deg); }