#quan_tri_cong_ty_container {
  background-color: #fff;
}

.info-content-sample {
  @apply relative;
  @apply w-[100%];
  @apply lg:w-[800px];
  @apply xl:w-[1000px];
  @apply 3xl:w-[1200px];
  @apply px-4;
  @apply md:px-8;
  @apply lg:px-0;
}
.description__highlight {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  font-family: iCiel Silka;
  font-weight: 400;
  font-size: 1.51vw;
  margin-top: 2%;
}

.rule_title {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 1.198vw;
  margin-top: 2%;
  margin-bottom: 1%;
}

.rule_source {
  color: #000;
  text-align: right;
  font-family: Myriad Pro Light;
  font-style: italic;
  font-weight: 300;
  font-size: 0.938vw;
  margin-top: 2%;
  margin-bottom: 1%;
}

.mechanism_title {
  color: var(--1-a-3966, #1a3966);
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.083vw;
  margin-top: 6%;
}

.mechanism_body {
  background-image: url(../../../assets/images/QuanTri/mechanism_bg.png);
  width: 100%;
  height: 32.974vw;
  background-size: 100%;
}

.mechanism_description {
  @apply rule_title;
  position: absolute;
  width: 95%;
  top: 1%;
  left: 0;
}

.mechanism_detail {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro Light;
  font-style: normal;
  font-weight: 300;
  font-size: 1.198vw;
  position: absolute;
  width: 84%;
}

.mechanism_detail1 {
  top: 24%;
  left: 13%;
}

.mechanism_detail2 {
  top: 39%;
  left: 13%;
}

.mechanism_detail3 {
  top: 54.5%;
  left: 13%;
}

.mechanism_detail4 {
  top: 74%;
  left: 13%;
}

.variety {
  background-image: url(../../../assets/images/QuanTri/variety_bg.png);
  width: 100%;
  height: 55.359vw;
  background-size: 100%;
  margin-top: 4%;
}

.variety_title {
  @apply mechanism_title;
  position: absolute;
  top: 3%;
  width: 60%;
}

.variety_percent {
  color: var(--f-4-e-696, #f4e696);
  text-align: justify;
  font-family: UTM HelvetIns;
  font-style: normal;
  font-weight: 400;
  font-size: 2.865vw;
  text-align: center;
}

.variety_text {
  color: var(--c-7-eafc, #c7eafc);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.198vw;
}

.variety_detail {
  position: absolute;
}

.variety_detail1 {
  top: 10%;
  left: 76%;
  width: 18%;
}

.variety_detail2 {
  width: 25%;
  top: 40%;
  left: 20%;
}

.variety_detail3 {
  width: 15%;
  top: 40%;
  left: 60%;
}

.variety_detail4 {
  width: 17%;
  top: 71%;
  left: 7%;
}

.variety_detail5 {
  width: 16%;
  top: 74%;
  left: 42%;
}

.variety_detail6 {
  width: 17%;
  top: 74%;
  left: 76%;
}

.equality_title {
  @apply mechanism_title;
  width: 59%;
}

.equality_img {
  margin-bottom: 4%;
}

.equality_subtitle {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-family: iCiel Silka;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.563vw;
}

.equality_description {
  color: var(--58595-b, #58595b);
  text-align: center;
  font-family: iCiel Silka;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  margin: 1% 0;
}

.equality_detail {
  background-image: url(../../../assets/images/QuanTri/equality_detail_bg.png);
  width: 100%;
  height: 53.972vw;
  background-size: 100%;
  margin-bottom: 11%;
}

.equality_percent {
  @apply variety_percent;
}

.equality_text {
  @apply variety_text;
}

.equality_detail1 {
  position: absolute;
  width: 15%;
  top: 65%;
  left: 10%;
}

.equality_detail2 {
  position: absolute;
  width: 18%;
  top: 65%;
  left: 74%;
}

.equality_content {
  @apply mechanism_detail;
  text-align: center;
  position: absolute;
  width: 25%;
}

.equality_content1 {
  top: 101%;
  left: 5%;
}

.equality_content2 {
  top: 101%;
  left: 70.5%;
}

.equality_footer {
  background-image: url(../../../assets/images/QuanTri/equality_footer_bg.png);
  width: 100%;
  height: 5.596vw;
  background-size: 100%;
}

.equality_conclude {
  background: var(
    --Linear,
    linear-gradient(
      0deg,
      #f4e696 -197.4%,
      #e6c36c -146.29%,
      #daa548 -92.49%,
      #d69a3b -65.59%,
      #dfb156 -19.86%,
      #f4e696 71.6%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.198vw;
  position: absolute;
  top: 27%;
  left: 8%;
  width: 85%;
}

.organizational_chart {
  margin-top: 7%;
}

.organizational_chart_title {
  @apply mechanism_title;
}

.organizational_chart_body {
  background-image: url(../../../assets/images/QuanTri/organizational_chart_body_bg.png);
  width: 100%;
  height: 72.674vw;
  background-size: 100%;
}

.chart_title {
  position: absolute;
}

.chart_title1 {
  color: var(--f-4-e-696, #f4e696);
  text-align: center;
  font-family: UTM HelvetIns;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-size: 1.615vw;
  width: 16%;
}

.chart_title2 {
  color: var(--f-4-e-696, #f4e696);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.198vw;
}

.chart_title3 {
  color: var(--1-a-3966, #1a3966);
  text-align: center;
  font-family: Myriad Pro;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.036vw;
  font-size: 1.198vw;
}

.chart_title4 {
  @apply chart_title3;
  letter-spacing: -0.086vw;
  font-size: 1.108vw;
}

.chart_title5 {
  @apply chart_title2;
}

.chart_title6 {
  color: var(--007534, #007534);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.15px;
  text-transform: uppercase;
  font-size: 1.198vw;
}

.chart_title7 {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Myriad Pro;
  font-weight: 700;
  line-height: 30px; /* 130.435% */
  text-transform: uppercase;
  font-size: 1.198vw;
}

.chart_detail1 {
  top: 8%;
  left: 45.4%;
}

.chart_detail2 {
  top: 26%;
  left: 44.4%;
}

.chart_detail3 {
  top: 34.5%;
  left: 20.4%;
}

.chart_detail4 {
  top: 33.3%;
  left: 49.2%;
}

.chart_detail5 {
  top: 34.5%;
  left: 77.2%;
}

.chart_detail6 {
  top: 46.7%;
  left: 21.2%;
}

.chart_detail7 {
  top: 46.7%;
  left: 77.3%;
}

.chart_detail8 {
  top: 52%;
  left: 46.4%;
}

.chart_detail9 {
  top: 59.3%;
  left: 21.4%;
}

.chart_detail10 {
  top: 59.3%;
  left: 62.5%;
  letter-spacing: normal;
}

.chart_detail11 {
  top: 72.5%;
  left: 6.2%;
  letter-spacing: -0.69px;
}

.chart_detail12 {
  top: 72.5%;
  left: 21.2%;
  letter-spacing: -0.69px;
}

.chart_detail13 {
  top: 72.5%;
  left: 38.2%;
}

.chart_detail14 {
  top: 72.5%;
  left: 54.3%;
}

.chart_detail15 {
  top: 72.5%;
  left: 69.2%;
}

.chart_detail16 {
  top: 72.5%;
  left: 83.3%;
}

.orientation {
  margin-top: 6%;
}

.orientation_title {
  @apply equality_title;
}

.orientation_body {
  background-image: url(../../../assets/images/QuanTri/orientation_body_bg.png);
  width: 100%;
  height: 85.677vw;
  background-size: 100%;
}

.orientation_detail {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 300;
  font-size: 1.198vw;
  position: absolute;
  width: 70%;
}

.orientation_detail strong {
  font-family: Myriad Pro;
}

.orientation_detail1 {
  top: 53%;
  left: 17%;
}

.director_header {
  margin-top: 3%;
  margin-bottom: 5%;
  /* height: 100vw; */
}

.director_header_bg {
  background: linear-gradient(
    90deg,
    #c7eafc 0.99%,
    rgba(199, 234, 252, 0) 97.76%
  );
  width: 100%;
  height: 26.563vw;
  flex-shrink: 0;
}

.director_avatar {
  background-image: url(../../../assets/images/QuanTri/director1_avatar.png);
  width: 100%;
  height: 51.302vw;
  background-size: 100%;
  margin-top: -6%;
}

.director2_avatar {
  @apply director_avatar;
  background-image: url(../../../assets/images/QuanTri/director2_avatar.png);
}

.director3_avatar {
  @apply director_avatar;
  background-image: url(../../../assets/images/QuanTri/director3_avatar.png);
  height: 34.159vw;
  margin-top: 6%;
}

/* .director4_avatar {
  @apply director_avatar;
  background-image: url(../../../assets/images/QuanTri/director4_avatar.png);
  height: 28.426vw;
  margin-top: 6%;
} */
.director4_avatar {
  @apply director_avatar;
  background-image: url(../../../assets/images/QuanTri/director4_avatar.png);
  height: 32.5vw;
  margin-top: 6%;
  width: 114.333%;
  background-size: 100%;
  transform: translateX(-7.166%);
}

.director_name {
  color: var(--f-4-e-696, #f4e696);
  font-family: Myriad Pro Regular;
  font-weight: 400;
  font-size: 1.354vw;
  position: absolute;
  top: 34vw;
  left: 5%;
}

.director_name strong {
  font-family: Myriad Pro;
}

.director_name2 {
  font-family: Myriad Pro;
  font-weight: 400;
  color: var(--1-a-3966, #1a3966);
  text-align: center;
  font-size: 1.354vw;
}

.director_body {
  margin-top: -11%;
}

.director_body2 {
  margin-top: -8%;
}

.director_body3 {
  margin-top: -6%;
}

.director_title {
  color: var(--f-4-e-696, #f4e696);
  text-align: justify;
  font-family: Myriad Pro Light;
  font-weight: 300;
  font-size: 1.198vw;
}

.director_title2 {
  color: var(--58595-b, #58595b);
  text-align: center;
  font-family: Myriad Pro Light;
  font-weight: 400;
  font-size: 1.198vw;
}

.director_detail {
  color: var(--292829, #292829);
  font-family: Myriad Pro Light;
  font-weight: 300;
  font-size: 1.198vw;
}

.director_detail2 {
  @apply director_detail;
  font-size: 0.99vw;
}

.director_detail2 strong,
.director_detail strong {
  font-family: Myriad Pro;
}

.director_divider {
  background: linear-gradient(
    90deg,
    #0083ca 0.09%,
    #fff 103.22%,
    #003767 103.23%,
    #fff 103.24%
  );
  width: 18.125vw;
  height: 0.104vw;
  flex-shrink: 0;
}

.director_divider2 {
  @apply director_divider;
  width: 31.25vw;
}

.director_divider3 {
  @apply director_divider;
  flex-grow: 1;
  width: auto;
}

.label_divider {
  display: flex;
}

.director_label {
  color: var(--00558-f, #00558f);
  text-align: justify;
  font-family: Myriad Pro;
  font-weight: 700;
  font-size: 1.198vw;
}

.director_label2 {
  @apply director_label;
  font-size: 0.99vw;
}

.director_detail ul {
  list-style: inside;
}

.director_description {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 400;
  font-size: 1.823vw;
  margin-top: 2%;
}

.director_diagram_bg {
  background-image: url(../../../assets/images/QuanTri/director_diagram_bg.png);
  width: 100%;
  height: 64.948vw;
  background-size: 100%;
  margin-top: 5%;
}

.director_prefix {
  color: #003767;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  letter-spacing: -0.031vw;
  font-size: 1.042vw;
}

.director_prefix1 {
  top: -1%;
  left: 2.3%;
}

.director_prefix2 {
  top: -1%;
  left: 71.7%;
}

.director_prefix3 {
  top: 49.8%;
  left: 2.3%;
}

.director_prefix4 {
  top: 49.8%;
  left: 71.7%;
}

.director_prefix5 {
  top: -1%;
  left: 2.4%;
}

.director_prefix6 {
  top: -1%;
  left: 37.1%;
}

.director_prefix7 {
}

.director_prefix8 {
  top: 49.8%;
  left: 2.4%;
}

.director_prefix9 {
  top: 49.8%;
  left: 37.1%;
}

.director_prefix10 {
  top: 49.8%;
  left: 71.8%;
}

.director_name_highlight {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #0083ca 0%,
      #005892 29%,
      #003767 55%,
      #00467b 66%,
      #006eaf 89%,
      #0083ca 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: UTM HelvetIns;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.05vw;
  font-size: 1.667vw;
  position: absolute;
}

.director_name_highlight1 {
  top: 0.5%;
  left: 2.3%;
}

.director_name_highlight2 {
  top: 0.5%;
  left: 71.7%;
}

.director_name_highlight3 {
  top: 51.2%;
  left: 2.3%;
}

.director_name_highlight4 {
  top: 51.2%;
  left: 71.7%;
}

.director_name_highlight5 {
  @apply director_name_highlight1;
}

.director_name_highlight6 {
  top: 0.5%;
  left: 37.1%;
}

.director_name_highlight7 {
}

.director_name_highlight8 {
  top: 51.4%;
  left: 2.3%;
}

.director_name_highlight9 {
  top: 51.4%;
  left: 37.1%;
}

.director_name_highlight10 {
  top: 51.4%;
  left: 71.8%;
}

.director_diagram_detail {
  @apply director_detail;
  /* font-size: 1.146vw; */
  font-size: 0.99vw;
  position: absolute;
}

.director_diagram_detail1 {
  top: 7%;
  left: 0%;
}

.director_diagram_detail2 {
  top: 7%;
  left: 69.3%;
  padding-right: 1%;
}

.director_diagram_detail3 {
  top: 58%;
  left: 0%;
  width: 64%;
}

.director_diagram_detail4 {
  top: 58%;
  left: 69.3%;
  padding-right: 1%;
}

.director_diagram_detail5 {
  @apply director_diagram_detail1;
  width: 30%;
}

.director_diagram_detail6 {
  top: 7%;
  left: 34.6%;
  width: 30%;
}

.director_diagram_detail7 {
}

.director_diagram_detail8 {
  top: 58%;
  left: 0%;
  width: 30%;
}

.director_diagram_detail9 {
  top: 58%;
  left: 34.6%;
  width: 30%;
}

.director_diagram_detail10 {
  top: 58%;
  left: 69.3%;
  padding-right: 1%;
}

.director_img {
  margin-top: 10%;
}

.director_diagram_bg2 {
  background-image: url(../../../assets/images/QuanTri/director_diagram_bg2.png);
  width: 100%;
  height: 64.844vw;
  background-size: 100%;
  margin-top: 5%;
}

.attendance {
  margin-top: 6%;
}

.attendance_header {
  @apply director_detail;
  font-family: Myriad Pro;
}

.attendance_decoration {
  margin-top: 2%;
}

.attendance_description {
  @apply rule_title;
  font-family: Myriad Pro Light;
  display: flex;
  justify-content: end;
  margin-top: 0;
}

.attendance_content {
  margin-top: 3%;
}

.attendance_description2_bg {
  background-image: url(../../../assets/images/QuanTri/attendance_description2_bg.png);
  width: 100%;
  height: 23.854vw;
  background-size: 100%;
  margin-top: 5%;
}

.attendance_description2 {
  @apply rule_title;
  font-family: Myriad Pro Light;
  margin-top: 0;
  position: absolute;
  width: 60%;
}

.attendance_description2_detail1 {
  @apply attendance_description2;
  font-family: Myriad Pro;
  top: 70%;
  left: 2%;
}

.attendance_description2_detail2 {
  @apply attendance_description2;
  top: 87%;
  left: 2%;
  display: flex;
  align-items: center;
}

.attendance_description2_detail2_icon {
  margin-right: 1%;
  margin-left: 3%;
  width: 2%;
}

.attendance_source {
  @apply rule_source;
  margin-top: 0;
}

.quantity_title {
  @apply rule_title;
  margin-top: 4%;
}

.quantity_note {
  display: flex;
  align-items: center;
}

.quantity_note_icon {
  margin-left: 2%;
  width: 2%;
}
.quantity_diagram {
  margin-top: 4%;
}
.quantity_source {
  @apply rule_source;
}
.general_assessment_title {
  @apply mechanism_title;
}
.general_assessment_description {
  @apply director_description;
}
.general_assessment_detail1 {
  display: flex;
  justify-content: space-around;
}
.general_assessment_detail1 {
  color: var(--007534, #007534);
  text-align: center;
  font-family: Myriad Pro Regular;
  font-weight: 600;
  letter-spacing: -0.037vw;
  font-size: 1.042vw;
}

.general_assessment_img {
  margin: 1% 0;
}

.general_assessment_detail2 {
  @apply general_assessment_detail1;
  margin: 0 15%;
}
.evaluate_header {
  display: flex;
  /* align-items: center; */
}
.evaluate_icon {
  margin-right: 2%;
}
.evaluate_title {
  color: var(--007534, #007534);
  font-family: Myriad Pro Regular;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.458vw;
  margin-top: 0.208vw;
}
.evaluate {
  margin-top: 5%;
}
.evaluate_source {
  @apply rule_source;
}
.evaluate1_img {
  margin-top: 3%;
}
.evaluate_decoration {
  width: 39.427vw;
  margin-top: 2%;
}
.evaluate_description {
  @apply director_description;
}
.evaluate_detail {
  @apply rule_title;
  font-family: Myriad Pro Regular;
}
ul {
  list-style: inside;
}
.evaluate_detail__bold {
  @apply rule_title;
}
.evaluate2 {
  margin-top: -3%;
}
.evaluate_img4 {
  background-image: url(../../../assets/images/QuanTri/evaluate_img4.png);
  width: 100%;
  height: 30.565vw;
  background-size: 100%;
  position: relative;
  transform: translateX(-18%);
}

.evaluate_detail2 {
  @apply evaluate_detail;
  margin-top: 0;
  width: 85%;
  position: absolute;
  left: 11%;
}
.evaluate_table {
  position: absolute;
  top: 60%;
}

.section3_logo {
  width: 56%;
}
.business_model_title {
  background-image: url(../../../assets/images/QuanTri/business_model_title_bg.svg);
  width: 100%;
  height: 58.49vw;
  background-size: 100%;
  @apply mechanism_title;
}
.business_model_block {
  margin-top: 4%;
}
.business_model_icon {
  position: absolute;
  left: -5%;
}
.business_model_highlight {
  background: linear-gradient(
    90deg,
    #003767 0.93%,
    #003767 33.61%,
    #00425d 51.43%,
    #006143 83.11%,
    #007534 99.94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: UTM HelvetIns;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  width: fit-content;
  font-size: 3.906vw;
}
.bm_title {
  @apply evaluate_title;
  font-family: Myriad Pro;
  padding-top: 0.5%;
}
.bm_title2 {
  @apply bm_title;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.mission_header {
  display: flex;
  align-items: center;
}
.mission_title {
  @apply evaluate_detail;
  font-size: 1.302vw;
  text-transform: uppercase;
  margin-bottom: 2%;
  margin-right: 2%;
}

.mission_decoration {
  background: linear-gradient(
    90deg,
    #aaa9aa 22.52%,
    rgba(170, 169, 170, 0) 100%
  );
  height: 0.052vw;
  flex-grow: 1;
}
.mission_list {
  background-image: url(../../../assets/images/QuanTri/mission_list_bg.png);
  /* width: 7.583%; */
  width: 100%;
  height: 59.583vw;
  background-size: 7.583%;
  background-repeat: no-repeat;
}

.mission_detail {
  @apply rule_title;
  font-family: Myriad Pro Regular;
  font-weight: 100;
  line-height: 1.667vw;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
}

.mission_detail strong {
  font-weight: 800;
}

.mission_footer {
  @apply rule_title;
  font-family: Myriad Pro Regular;
  font-weight: 500;
}

.mission1 {
  top: 4%;
  left: 10%;
}
.mission2 {
  top: 19.5%;
  left: 10%;
}
.mission3 {
  top: 31.7%;
  left: 10%;
}
.mission4 {
  top: 49.7%;
  left: 10%;
}
.mission5 {
  top: 64.7%;
  left: 10%;
}

.section4_logo {
  width: 76%;
}
.report_detail {
  @apply rule_title;
  font-family: Myriad Pro Regular;
  font-weight: 100;
  line-height: 1.667vw;
  margin-top: 0;
  margin-bottom: 0;
}

.mission_detail strong {
  font-weight: 800;
}

.council_member {
  background-image: url(../../../assets/images/QuanTri/council_member_bg.png);
  width: 100%;
  height: 36.161vw;
  background-size: 100%;
}
.member_info {
  @apply mission_detail;
  text-align: center;
  position: absolute;
  width: 26.9%;
  top: 60%;
}
.member_info1 {
  left: 6%;
}
.member_info2 {
  left: 36.4%;
}
.member_info3 {
  left: 67%;
}
.sample_text {
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 100;
  font-size: 1.198vw;
}

.sample_text strong {
  font-weight: 700;
}

.sample_text_small {
  font-size: 0.833vw;
}

.sample_text_22px {
  @apply sample_text;
  font-size: 1.146vw;
}

.sample_text_highlight {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 34.48%,
      #00425d 68.87%,
      #007534 103.25%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 400;
  font-size: 1.51vw;
  width: fit-content;
}

.sample_text_highlight_small {
  @apply sample_text_highlight;
  /* font-size: 1.146vw; */
  font-size: 0.938vw;
}

.sample_heading {
  color: var(--1-a-3966, #1a3966);
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.083vw;
}

.sample_heading_yellow {
  color: var(--f-4-e-696, #f4e696);
  text-align: justify;
  font-family: UTM HelvetIns;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.979vw;
}

.council_detail {
  background-image: url(../../../assets/images/QuanTri/council_detail_bg.png);
  width: 100%;
  height: 30.154vw;
  background-size: 100%;
}

.council_detail2 {
  background-image: url(../../../assets/images/QuanTri/council_detail2_bg.png);
  width: 100%;
  height: 51.442vw;
  background-size: 100%;
}
.council_decoration {
  background: #1a3966;
  width: 0.313vw;
  height: 15.208vw;
}
.council_title {
  @apply mechanism_title;
  margin-top: 0;
}
.section5_logo {
  width: 68.17%;
  margin-top: 3%;
}
.audit_mission {
  background-image: url(../../../assets/images/QuanTri/audit_mission_bg.png);
  width: 100%;
  height: 37.24vw;
  background-size: 100%;
}

.audit_company {
  background-image: url(../../../assets/images/QuanTri/audit_company_bg.png);
  width: 100%;
  height: 20.435vw;
  background-size: 100%;
}

.audit_year {
  @apply sample_text_highlight_small;
  text-align: center;
  position: absolute;
}
.audit_year1 {
  top: 9.5%;
  left: 6.8%;
}

.audit_year2 {
  top: 9.5%;
  left: 27%;
}

.audit_year3 {
  top: 9.5%;
  left: 47%;
}

.audit_year4 {
  top: 9.5%;
  left: 67.2%;
}

.audit_year5 {
  top: 9.5%;
  left: 87.4%;
}

.audit_name {
  @apply sample_text;
  font-weight: 400;
  font-size: 0.938vw;
  text-align: center;
  position: absolute;
}
.audit_name1 {
  top: 35%;
  left: 3.5%;
}

.audit_name2 {
  top: 35%;
  left: 23.5%;
}

.audit_name3 {
  top: 35%;
  left: 43.5%;
}

.audit_name4 {
  top: 35%;
  left: 63.6%;
}

.audit_name5 {
  top: 35%;
  left: 83.8%;
}

.audit_company_footer {
  @apply sample_text;
  position: absolute;
  top: 90.7%;
  left: 35%;
  color: white;
}

.section6_logo {
  width: 76.17%;
  margin-top: 6%;
}

.committee_description {
  background-image: url(../../../assets/images/QuanTri/committee_description_bg.png);
  width: 100%;
  height: 42.752vw;
  background-size: 100%;
  margin-top: -10%;
}
.committee_detail {
  @apply sample_heading_yellow;
  text-align: center;
  position: absolute;
  top: 43%;
}

.committee_detail1 {
  left: 7.6%;
}
.committee_detail2 {
  left: 75.7%;
}

.committee_description2 {
  background-image: url(../../../assets/images/QuanTri/committee_description2_bg.png);
  width: 100%;
  height: 19.646vw;
  background-size: 100%;
  margin-top: 3%;
}

.committee_description3 {
  background-image: url(../../../assets/images/QuanTri/committee_description3_bg.png);
  width: 100%;
  height: 40.208vw;
  background-size: 100%;
  margin-top: 7%;
}

.committee_description3_text {
  @apply sample_text;
  position: absolute;
  font-size: 1.146vw;
  line-height: 1.406vw;
  width: 40%;
}

.committee_description3_text2 {
  @apply committee_description3_text;
  width: 38%;
}

.committee_table2 {
  background-image: url(../../../assets/images/QuanTri/committee_table2_bg.png);
  width: 100%;
  height: 41.366vw;
  background-size: 100%;
  margin-top: 2%;
}

.committee_table2_label {
  color: var(--58595-b, #58595b);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
}
.committee_table2_decoration {
  background: #58595b;
  width: 1.023vw;
  height: 0.052vw;
  margin-left: 2%;
  margin-right: 2%;
}
.committee_table2_content {
  @apply committee_table2_label;
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro Light;
  width: 78%;
  position: absolute;
}
.committee_description5 {
  background-image: url(../../../assets/images/QuanTri/committee_description5_bg.png);
  width: 100%;
  height: 27.865vw;
  background-size: 100%;
  margin-top: 7%;
}
.committee_description6 {
  background-image: url(../../../assets/images/QuanTri/committee_description6_bg.png);
  width: 100%;
  height: 19.646vw;
  background-size: 100%;
  margin-top: 6%;
}
.committee_description7 {
  background-image: url(../../../assets/images/QuanTri/committee_description7_bg.png);
  width: 100%;
  height: 44.136vw;
  background-size: 100%;
  margin-top: 7%;
}
.committee_description7_text {
  @apply committee_description3_text;
  width: 90%;
}

.committee_description8 {
  background-image: url(../../../assets/images/QuanTri/committee_description8_bg.png);
  width: 100%;
  height: 34.479vw;
  background-size: 100%;
  margin-top: 7%;
}
.committee_table4 {
  background-image: url(../../../assets/images/QuanTri/committee_table4_bg.png);
  width: 100%;
  height: 40.015vw;
  background-size: 100%;
  margin-top: 2%;
}
.committee_table4_decoration {
  background: #58595b;
  width: 1.623vw;
  height: 0.052vw;
  margin-left: 2%;
  margin-right: 2%;
}
.committee_table4_content {
  @apply committee_table2_label;
  color: var(--292829, #292829);
  text-align: justify;
  font-family: Myriad Pro Light;
  width: 73%;
  position: absolute;
}
.committee_description10 {
  background-image: url(../../../assets/images/QuanTri/committee_description10_bg.png);
  width: 100%;
  height: 87.292vw;
  background-size: 100%;
  margin-top: 7%;
}
.section7_logo {
  width: 58%;
  margin-top: 6%;
}
.regulation_description {
  background-image: url(../../../assets/images/QuanTri/regulation_description_bg.png);
  width: 130%;
  height: 59.583vw;
  background-size: 100%;
}
.regulation_description_label {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 26.42%,
      #00425d 61.34%,
      #007534 101.64%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: UTM HelvetIns;
  font-weight: 400;
  font-size: 1.979vw;
}
.regulation_description2 {
  background-image: url(../../../assets/images/QuanTri/regulation_description2_bg.png);
  width: 100%;
  height: 35.625vw;
  background-size: 100%;
}
.regulation_description2_text {
  color: var(--f-4-e-696, #f4e696);
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 400;
  font-size: 1.354vw;
}
.regulation_description4 {
  background-image: url(../../../assets/images/QuanTri/regulation_description4_bg.png);
  width: 100%;
  height: 66.493vw;
  background-size: 100%;
}
.regulation_description5 {
  background-image: url(../../../assets/images/QuanTri/regulation_description5_bg.png);
  width: 100%;
  height: 27.24vw;
  background-size: 100%;
}
.regulation_description5_text1 {
  background: var(
    --Style,
    linear-gradient(
      90deg,
      #003767 0.09%,
      #003767 26.42%,
      #00425d 61.34%,
      #007534 101.64%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.regulation_description5_text2 {
  color: var(--1-a-3966, #1a3966);
}
.regulation_description5_text3 {
  background: linear-gradient(
    270deg,
    #0083ca 7.14%,
    #005892 54.33%,
    #003767 96.64%,
    #00467b 114.54%,
    #006eaf 151.96%,
    #0083ca 169.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.regulation_description5_text4 {
  color: #0072bc;
}

.regulation_description5_text5 {
  background: var(
    --Text-Gradient,
    linear-gradient(90deg, #007534 -0.98%, #23923c 52.79%, #50b848 100.23%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.regulation_description5_text6 {
  color: var(--007534, #007534);
}

.regulation_description5_text7 {
  color: var(--50-b-848, #50b848);
}
.regulation_description6 {
  background-image: url(../../../assets/images/QuanTri/regulation_description6_bg.png);
  width: 100%;
  height: 77.031vw;
  background-size: 100%;
}
.regulation_description7 {
  background-image: url(../../../assets/images/QuanTri/regulation_description7_bg.png);
  width: 100%;
  height: 12.572vw;
  background-size: 100%;
}
.regulation_description8 {
  background-image: url(../../../assets/images/QuanTri/regulation_description8_bg.png);
  width: 100%;
  height: 88.433vw;
  background-size: 100%;
}
.regulation_description9 {
  background-image: url(../../../assets/images/QuanTri/regulation_description9_bg.png);
  width: 100%;
  height: 35.26vw;
  background-size: 100%;
}
.risk_title1 {
  color: var(--f-4-e-696, #f4e696);
  font-family: Myriad Pro Regular;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.719vw;
}
.risk1_title {
  background-image: url(../../../assets/images/QuanTri/risk1_bg.png);
  width: 100%;
  height: 6.396vw;
  background-size: 100%;
}
.risk2_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk2_bg.png);
}
.risk3_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk3_bg.png);
}
.risk4_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk4_bg.png);
}
.risk5_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk5_bg.png);
}
.risk6_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk6_bg.png);
}
.risk7_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk7_bg.png);
}
.risk8_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk8_bg.png);
}
.risk9_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk9_bg.png);
}
.risk10_title {
  @apply risk1_title;
  background-image: url(../../../assets/images/QuanTri/risk10_bg.png);
}
.risk_decoration {
  width: 8.698vw;
}
.risk_description {
  background-image: url(../../../assets/images/QuanTri/risk_description_bg.png);
  width: 100%;
  height: 58.333vw;
  background-size: 100%;
}
.risk_description_text {
  color: var(--c-7-eafc, #c7eafc);
  text-align: justify;
  font-family: Myriad Pro Regular;
  font-weight: 400;
  font-size: 1.354vw;
}
