.logo-mid {
  position: absolute;
  top: 51%;
  left: 52%;
  animation: zoon-in 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.logo1 {
  position: absolute;
  top: 12%;
  left: 10%;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

#logo-1-digital-first{
  animation: changeFill 2s ease-in-out 1s infinite;
}
#logo-1-digital-second{
  animation: changeFill 2s ease-in-out 1.5s infinite;
}
#logo-1-digital-thirt{
  animation: changeFill 2s ease-in-out 2s infinite;
}
#logo-3-digital-budd{
  animation: changeFill 2s ease-in-out 2.5s infinite;
}
.sbt-logo{
  position: absolute;
  top: 4%;
  left: 47%;
}

#s-logo{
  animation: flip 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s
  both;
}
#b-logo{
  animation: flip 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.4s
  both;
}

#t-logo{
  animation: flip 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.8s
  both;
}

.logo2 {
  position: absolute;
  top: 35%;
  right: 0%;

  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}

.logo3 {
  position: absolute;
  left: 24%;
  bottom: 3%;


  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
}
#logo1-path {
  animation: rotatePath 10s linear infinite; /* Define the animation */
  transform-origin: center center; /* Set the transform origin to the center */
}
#logo2-rain-down1{
  animation: rainAnimation 1s linear infinite;
}
#logo2-rain-down2{
  animation: rainAnimation 0.7s linear infinite;
}
#logo2-rain-down3{
  animation: rainAnimation 0.9s linear infinite;
}
#logo-3-digital-load1{
  animation: zoomInOut 2s ease-in-out infinite;
}
#logo-3-digital-load2{
  animation: zoomInOut 2.2s ease-in-out infinite;
}
#logo-3-digital-load3{
  animation: zoomInOut 2.4s ease-in-out infinite;
}

@keyframes rainAnimation {
  0% {
      transform: translateY(0px);
      opacity: 0.7;
  }
  100% {
      transform: translateY(6px);
      opacity: 1;
  }
}
@keyframes zoomInOut {
  0%, 100% {
      transform: scale(1); /* Initial and final state (normal size) */
  }
  50% {
      transform: scale(1.02); /* Scaled up (zoom in) */
  }
}

@keyframes rotatePath {
  0% {
    transform: rotate(0); /* Rotate from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 90 degrees */
  }
}
.ring{
  position: relative;
}
.ring-path{
  position: absolute;
  top: 12%;
  left: 10%;
}

@keyframes flip {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes zoon-in {
  0% {
    opacity: 0.5;
    transform: scale(0.9) translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 0.4s both;
	        animation: rotate-90-cw 0.4s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-3 11:49:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-90-cw
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    transform:  rotate(0);
  }
  100% {
    transform:  rotate(90deg);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-7 19:30:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes changeFill {
  0% {
  }
  100% {
    fill: #50b848; /* Ending color */
  }
}

.change-fill {
  animation: changeFill 6s ease infinite;
}