h3.pb_attendance_table_title { margin:0; padding:0; font-size:18px; font-weight:300; line-height:55px; text-align:center; }
table.pb_attendance_table { margin:0; width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0; }
table.pb_attendance_table th,
table.pb_attendance_table td { text-align:center; vertical-align:middle; background:#fff; border:1px solid #ddd; font-weight:300; }
table.pb_attendance_table thead th { padding:13px 10px; font-size:14px; line-height:1.6; }
table.pb_attendance_table tbody th,
table.pb_attendance_table tbody td { padding:12px 10px; line-height:1.6; }
table.pb_attendance_table tbody td { font-size:14px; }
table.pb_attendance_table tbody td small { display:inline-block; font-size:90%; vertical-align: baseline; }

@media only screen and (max-width: 767px) {
  h3.pb_attendance_table_title { font-size:14px; line-height:45px; }
  table.pb_attendance_table { display:block; width:100%; }
  table.pb_attendance_table th,
  table.pb_attendance_table td { display:block; padding-top:5px !important; padding-bottom:5px !important; line-height:35px !important; height:35px; min-width:60px; border-top:none; }
  table.pb_attendance_table thead { display:block; float:left; }
  table.pb_attendance_table thead th { font-size:14px; }
  table.pb_attendance_table tbody { display:-webkit-flex; display:flex; -webkit-align-items:flex-start; align-items:flex-start; width:auto; overflow-x:auto; white-space:nowrap; }
  table.pb_attendance_table tbody tr { display:block; width:100%; }
  table.pb_attendance_table tbody th, table.pb_attendance_table tbody td { border-left:none; }
  table.pb_business_day tbody td small { display:inline-block; font-size:80%; vertical-align:baseline; }
}
