@import url("./assets/icons/fontawesome.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF Pro;
  src: url('./assets/fonts/SFPro/SF-Pro-Text-Bold.otf');
}
@font-face {
  font-family: Myriad Pro;
  src: url('./assets/fonts/MyriadPro/MyriadPro-Bold.otf');
}

:root {
  --primary: #3fafd7;
  --p—light: #7ae1ff;
  --p—dark: #0080a5;
  --secondary: #e0f7fa;
  --s—light: #ffffff;
  --s—dark: #aec4c7;
  --p-text: #000000;
  --s-text: #000000;
}

body {
  background: linear-gradient(
    218deg,
    #35a1d9 8.72%,
    #a5d4b0 53.82%,
    #a5d4b0 87.05%
  );
  flex-shrink: 0;
  font-size:16px;
}
