.box1 {
  width: 832px;
  height: 832px;
  flex-shrink: 0;
  border-radius: 832px;
  background: #fff;
  filter: blur(150px);
  position: absolute;
  top: -420px;
  left: -275px;
}
.middle-title-phone {
  color: #1a3966;
  text-align: center;
  font-family: SF Pro;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  @apply text-base;
  @apply sm:text-[14px] xl:text-2xl;
}
.title-1-phone {
  color: var(--50-b-848, #50b848);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @apply text-xl;
  @apply sm:text-[36px];
}
.sub-1-phone {
  color: var(--1-a-3966, #1a3966);
  text-align: center;
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @apply text-sm;
  @apply sm:text-[26.5px];
}
.box2 {
  width: 889px;
  height: 889px;
  flex-shrink: 0;
  border-radius: 889px;
  opacity: 0.5;
  background: #00aeef;
  filter: blur(150px);

  position: absolute;
  top: -444px;
  left: -614px;
}
.box3 {
  position: absolute;
  top: 172px;
  left: 314px;
  width: 723px;
  height: 738px;
  flex-shrink: 0;
  border-radius: 738px;
  background: #fff;
  filter: blur(150px);
}
.box4 {
  width: 889px;
  height: 414px;
  flex-shrink: 0;
  border-radius: 889px;
  background: #fff;
  filter: blur(150px);
  position: absolute;
  top: 120px;
  right: 284px;
}
.subtract {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 472.402px;
  fill: linear-gradient(
    261deg,
    #00763d -12.03%,
    #1a3966 42.44%,
    #152551 92.65%
  );
}
.lastbg {
  bottom: 0;
  z-index: 100;
  @apply xl:h-[37%]
}

.cloud-top-right {
  position: absolute;
  right: -100px;
  top: 97px;
  @apply md:right-[93px] md:top-[97px];
}

.cloud-top-right-img {
  width: 269px;
  height: 107.419px;
  @apply md:w-full md:h-full;
}
.cloud-top-left-img {
  width: 271px;
  height: 108.218px;
  @apply md:w-full md:h-full;
}

.cloud-bot-left {
  position: absolute;
  left: -100px;
  bottom: 138px;
  @apply md:left-[-275px] md:bottom-[-30px];
}
.copyright {
  position: absolute;
  bottom: 0;
  z-index: 10000;
}
.header {
  z-index: 1000;
}
.middle-title {
  color: #1a3966;
  text-align: center;
  font-family: SF Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.toggle-languages {
  width: 86px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  font-weight: 510;
}

.title-1 {
  color: var(--50-b-848, #50b848);
  text-align: right;
  font-family: Myriad Pro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @apply xl:text-[3rem];
}
.sub-1 {
  color: var(--1-a-3966, #1a3966);
  text-align: right;
  font-family: Myriad Pro;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @apply xl:text-[2.2rem]
}

.actived {
  border-radius: 15px;
  background: #1a3966;
  color: #fff;
}

.btn-nav {
  width: 429px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 34px;
  background: linear-gradient(
    262deg,
    #00763d 13.75%,
    #1a3966 55.07%,
    #152551 93.16%
  );
}
