#section-1 {
  height: 71.094vw;
  width: 100%;
  background-image: url(../../../assets/images/TongQuan/banner.png);
  background-size: cover;
}
#section-1 img {
  width: 100%;
  height: 100%;
}
#section-1 .image-1 {
  position: absolute;
  top: 46.615vw;
  left: 15.469vw;
  width: 5.729vw;
  height: 5.729vw;
}
#section-1 .image-2 {
  position: absolute;
  top: 52.031vw;
  left: 5vw;
  width: 5.365vw;
  height: 5.365vw;
}
#section-1 .image-3 {
  position: absolute;
  top: 26.563vw;
  right: 7.604vw;
  width: 6.146vw;
  height: 6.146vw;
}
#section-1 .image-4 {
  position: absolute;
  top: 17.344vw;
  right: 11.094vw;
  width: 5.99vw;
  height: 5.99vw;
}
#section-1 .image-5 {
  position: absolute;
  top: 22.5vw;
  right: 22.135vw;
  width: 4.844vw;
  height: 4.844vw;
}
#section-1 .image-6 {
  position: absolute;
  top: 30.99vw;
  right: 18.125vw;
  width: 6.042vw;
  height: 6.042vw;
}
#section-1 .image-7 {
  position: absolute;
  bottom: 2.5vw;
  right: 21.823vw;
  width: 5.156vw;
  height: 5.156vw;
}
#section-1 .image-8 {
  position: absolute;
  bottom: 8.906vw;
  right: 30.573vw;
  width: 4.479vw;
  height: 4.635vw;
}
#section-1 .image-9 {
  position: absolute;
  bottom: 15.313vw;
  right: 19.063vw;
  width: 4.427vw;
  height: 4.531vw;
}
#section-1 .image-10 {
  position: absolute;
  bottom: 15.99vw;
  right: 26.667vw;
  width: 3.854vw;
  height: 3.958vw;
}

#section-2 {
  height: 71.094vw;
  width: 100%;
  background-image: url(../../../assets/images/TongQuan/image-section-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#section-2 img {
  width: 100%;
}
@media (max-width: 768px) {
  #section-2 .item .m-auto {
    height: 100%;
  }
}
@media (max-width: 768px) {
  #section-2 .year-image.m-auto svg {
    height: 100%;
    margin-bottom: 0.33vw;
  }
}
#section-2 .result {
  height: 52.656vw;
  width: 21.094vw;
  background-image: url(../../../assets/images/TongQuan/ket-qua.png);
  background-size: cover;
  position: absolute;
  top: 14.479vw;
  left: 5vw;
}
#section-2 .result .font-bold {
  padding: 5vw 1.719vw 1.719vw;
  color: #C7EAFB;
  font-size: 1.302vw;
  font-weight: 400;
  line-height: 1.823vw;
  font-family: "iCiel Silka";
}
#section-2 .result .font-normal {
  padding: 0 1.719vw 2.24vw;
  color: #C7EAFB;
  font-size: 0.885vw;
  font-weight: 400;
  line-height: 1.25vw;
  font-family: "iCiel Silka";
}
#section-2 .result .font-normal span:first-child {
  display: block;
  padding-bottom: 2.083vw;
}
#section-2 .sbt-year {
  text-align: center;
}
#section-2 .sbt-year .text-desc {
  color: #AA7B2C;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  line-height: 0.99vw;
}
#section-2 .sbt-year .list-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.381vw;
  line-height: 0.99vw;
}
#section-2 .sbt-year .list-text span {
  display: block;
  color: #AA7B2C;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  text-align: center;
  position: relative;
  line-height: 0.99vw;
}
#section-2 .sbt-year .list-text span:nth-child(2) {
  width: 8.073vw;
}
#section-2 .sbt-year .list-text span:nth-child(3) {
  width: 6.073vw;
}
#section-2 .sbt-year .list-text span::after {
  content: "";
  position: absolute;
  top: 0.256vw;
  left: -0.781vw;
  width: 0.26vw;
  height: 0.26vw;
  border-radius: 100%;
  background-color: #AA7B2C;
}
#section-2 .sbt-list__year .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.281vw 0;
}
#section-2 .sbt-list__year .item .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.381vw;
}
#section-2 .sbt-list__year .item .text span {
  display: block;
  color: #AA7B2C;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  text-align: center;
  position: relative;
  line-height: 0.99vw !important;
}
#section-2 .sbt-list__year .item .text span::after {
  content: "";
  position: absolute;
  top: 0.256vw;
  left: -0.781vw;
  width: 0.26vw;
  height: 0.26vw;
  border-radius: 100%;
  background-color: #AA7B2C;
}
#section-2 .year-image svg {
  margin: 0 auto;
}
#section-2 .year-2017 {
  position: absolute;
  top: 30.313vw;
  right: 3.125vw;
  width: 17.813vw;
}
#section-2 .year-2017 .text-1 {
  width: 9.635vw;
  position: absolute;
  top: -2.604vw;
  right: 4.115vw;
  text-align: center;
  color: #0072BC;
  font-weight: 400;
  font-size: 1.354vw;
  line-height: 1.785vw;
  font-family: UTM HelvetIns;
}
#section-2 .year-2017 .item-1 {
  width: 0.521vw;
  position: absolute;
  top: 3vw;
  right: 8.646vw;
}
#section-2 .year-2017 .item-3 {
  width: 0.521vw;
  position: absolute;
  bottom: 3vw;
  right: 8.646vw;
}
#section-2 .year-2017 .text-2 {
  position: absolute;
  width: 13.802vw;
  bottom: -3.125vw;
  left: 2.25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-2 .year-2017 .text-2 span {
  display: block;
  color: #0071BB;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  text-align: center;
  line-height: 0.885vw;
  position: relative;
}
#section-2 .year-2017 .text-2 span:first-child {
  width: 12.24vw;
}
#section-2 .year-2017 .text-2 span::after {
  content: "";
  position: absolute;
  top: 0.256vw;
  left: -0.781vw;
  width: 0.26vw;
  height: 0.26vw;
  border-radius: 100%;
  background-color: #0071BB;
}
#section-2 .bhs-list__item1 {
  position: absolute;
  top: 43.073vw;
  left: 54.375vw;
  width: 12.188vw;
}
#section-2 .bhs-list__item2 {
  position: absolute;
  top: 43.073vw;
  left: 67.188vw;
  width: 13.438vw;
}
#section-2 .bhs-list__item .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.281vw 0;
}
#section-2 .bhs-list__item .item .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.381vw;
}
#section-2 .bhs-list__item .item .text span {
  display: block;
  color: #007534;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  text-align: center;
  position: relative;
  line-height: 0.99vw !important;
}
#section-2 .bhs-list__item .item .text span::after {
  content: "";
  position: absolute;
  top: 0.256vw;
  left: -0.781vw;
  width: 0.26vw;
  height: 0.26vw;
  border-radius: 100%;
  background-color: #007534;
}
#section-2 .bhs-list__item .item .text-decs {
  color: #007534;
  font-weight: 400;
  font-size: 0.781vw;
  font-family: Myriad Pro Light;
  line-height: 0.99vw !important;
  text-align: center;
}

#section-3 {
  height: 196.771vw;
  width: 100%;
  background-image: url(../../../assets/images/TongQuan/bg3.png);
  background-size: cover;
}
#section-3 img {
  width: 100%;
}
#section-3 .text-all .year {
  color: #00558F;
  font-family: Myriad Pro;
  margin-bottom: 0.833vw;
  font-weight: 900;
  line-height: 1.719vw;
  font-size: 1.25vw;
}
#section-3 .text-all .ul-list {
  list-style: disc;
  margin-left: 1.042vw;
}
#section-3 .text-all .ul-list li {
  color: #0072BC;
  font-weight: 400;
  font-family: Myriad Pro;
  font-size: 0.902vw;
  line-height: 1.719vw;
}
#section-3 .text-2023 {
  z-index: 1;
  font-size: 3.75vw;
  font-weight: 400;
  line-height: 5.521vw;
  font-family: UTM HelvetIns;
  background: linear-gradient(90deg, #F4E696 0%, #E6C36C 17.13%, #DAA548 35.17%, #D69A3B 44.19%, #DFB156 59.52%, #F4E696 90.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-3 .text-1 {
  z-index: 1;
  font-size: 2.396vw;
  font-weight: 400;
  line-height: 3.073vw;
  font-family: UTM HelvetIns;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-3 .text-2 .content {
  font-family: SF Pro Regular;
}
#section-3 .text-2 .content span {
  font-weight: 400;
  font-size: 0.885vw;
  color: rgb(51, 49, 50);
}
#section-3 .text-2 .content .highligh-text {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 1.927vw;
  background: linear-gradient(90deg, #0083CA 0%, #005892 29%, #003767 55%, #00467B 66%, #006EAF 89%, #0083CA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-3 .text-2 .content .text-gra-green {
  background: linear-gradient(0deg, #007534, #007534), linear-gradient(0deg, #333132, #333132);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-3 .text-2 .content strong {
  font-family: SF Pro;
}
@media (max-width: 768px) {
  #section-3 .text-2 .contentsp span {
    display: block;
  }
}
@media (max-width: 768px) {
  #section-3 .text-2 .contentsp1 span {
    display: inline-block;
  }
}

#section-4 {
  background: #FFFFFF;
  z-index: 1;
}
#section-4 img, #section-4 svg {
  width: 100%;
}
#section-4 .title {
  gap: 0.885vw;
}
#section-4 .title span {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 1.771vw;
  font-weight: 700;
  background: linear-gradient(90deg, #007534 -0.98%, #23923C 52.79%, #50B848 100.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-4 .title-infor {
  font-family: SF Pro;
  font-weight: 700;
  font-size: 1.771vw;
  color: #FFFFFF;
}
#section-4 .trading-name {
  font-family: SF Pro;
  font-weight: 700;
  font-size: 0.938vw;
  background: rgb(109, 207, 246);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-4 .trading-name p, #section-4 .trading-name span {
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-4 .name-company {
  font-family: iCiel Silka;
  font-weight: 400;
  font-size: 3.333vw;
  background: linear-gradient(360deg, #F4E696 10.39%, #E6C36C 25.13%, #DAA548 40.65%, #D69A3B 48.41%, #DFB156 61.6%, #F4E696 87.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-4 .website-link {
  font-family: SF Pro;
  font-weight: 700;
  font-size: 0.938vw;
  color: #FFFFFF;
}
#section-4 .website-name {
  font-family: SF Pro;
  font-weight: 700;
  font-size: 0.938vw;
  color: #FFFFFF;
  background: linear-gradient(0deg, #F4E696 0%, #E6C36C 13.6%, #DAA548 27.92%, #D69A3B 35.08%, #DFB156 47.26%, #F4E696 71.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-5 {
  background: #FFFFFF;
}
#section-5 img {
  width: 100%;
}
#section-5 .text-1 {
  font-family: SF Pro;
  font-size: 1.719vw;
  font-weight: 700;
  line-height: 2.031vw;
  color: #FFFFFF;
}
#section-5 .SBT-HSX {
  font-family: SF Pro;
  font-size: 0.885vw;
  font-weight: 700;
  line-height: 1.302vw;
  color: #333132;
}
#section-5 .list-text .item p {
  font-family: SF Pro;
  font-size: 0.885vw;
  font-weight: 700;
  line-height: 1.302vw;
  color: #333132;
}
#section-5 .list-text .item p span {
  font-family: SF Pro Regular;
  font-size: 0.885vw;
  font-weight: 400;
  line-height: 1.302vw;
}
#section-5 .list-text .item .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.063vw;
  font-weight: 700;
  line-height: 5.052vw;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-6 {
  background: #FFFFFF;
}
#section-6 img, #section-6 svg {
  width: 100%;
}
#section-6 .text-1 {
  font-family: SF Pro;
  font-size: 1.719vw;
  font-weight: 700;
  line-height: 2.031vw;
  padding: 0 3.302vw;
  color: #FFFFFF;
}
#section-6 .item p {
  font-family: Myriad Pro Light;
  font-size: 1.146vw;
  font-weight: 700;
  line-height: 1.51vw;
}
#section-6 .item span {
  font-family: Myriad Pro Light;
  font-size: 1.146vw;
  font-weight: 400;
  line-height: 1.51vw;
  display: block;
}

#section-7 {
  background: #FFFFFF;
  z-index: 1;
}
#section-7 img, #section-7 svg {
  width: 100%;
}
#section-7 .title {
  gap: 0.885vw;
}
#section-7 .title span {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 1.771vw;
  font-weight: 700;
  background: linear-gradient(90deg, #007534 -0.98%, #23923C 52.79%, #50B848 100.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-7 .text-1 {
  font-family: SF Pro;
  font-size: 1.875vw;
  font-weight: 700;
  line-height: 2.24vw;
  color: #1A3966;
}
#section-7 .text-2 p {
  font-family: Myriad Pro Light;
  font-size: 1.198vw;
  line-height: 1.458vw;
  color: #58595B;
}
#section-7 .text-2 .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.479vw;
  font-weight: 700;
  line-height: 5.573vw;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-7 .text-2 .highligh span {
  font-family: Myriad Pro;
  font-size: 1.042vw;
}
#section-7 .text-3 {
  font-family: SF Pro Regular;
  font-size: 1.354vw;
  line-height: 1.979vw;
  font-weight: 600;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: justify;
}
#section-7 .text-4 span {
  display: block;
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  line-height: 1.563vw;
  text-align: justify;
  color: rgb(41, 40, 41);
  width: 29.948vw;
}
#section-7 .text-5 {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 700;
  line-height: 1.458vw;
  color: rgb(0, 85, 142);
}
#section-7 .country {
  font-family: SF Pro;
  font-size: 1.042vw;
  font-weight: 700;
  line-height: 1.458vw;
  color: #FFFFFF;
}
#section-7 .text-6 {
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  font-weight: 276;
  line-height: 1.458vw;
  color: rgb(41, 40, 41);
}
#section-7 .text-7 {
  font-family: SF Pro Regular;
  font-size: 0.99vw;
  font-weight: 400;
  line-height: 1.458vw;
  color: rgb(41, 40, 41);
}
#section-7 .text-8 p {
  font-family: SF Pro;
  font-size: 1.042vw;
  font-weight: 700;
  line-height: 1.458vw;
  color: rgb(88, 87, 91);
}
#section-7 .text-8 .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.479vw;
  font-weight: 700;
  line-height: 5.573vw;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-7 .text-8 span {
  font-family: SF Pro;
  font-size: 1.042vw;
  font-weight: 700;
  line-height: 1.458vw;
  color: rgb(88, 87, 91);
}
#section-7 .text-9 p {
  font-family: SF Pro;
  font-size: 1.094vw;
  font-weight: 274;
  line-height: 1.458vw;
  color: rgb(0, 117, 52);
}
#section-7 .text-9 span {
  font-family: SF Pro;
  font-size: 1.094vw;
  font-weight: 700;
  line-height: 1.458vw;
  color: rgb(41, 40, 41);
  display: block;
}

#section-8 {
  background: #FFFFFF;
}
#section-8 img {
  width: 100%;
}
#section-8 .title1 {
  font-family: SF Pro;
  font-size: 2.188vw;
  font-weight: 700;
  color: rgb(26, 57, 102);
  text-transform: uppercase;
}
#section-8 .title2 {
  font-family: UTM HelvetIns;
  font-size: 3.49vw;
  font-weight: 400;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#section-8 .title3 {
  font-family: SF Pro;
  font-size: 2.083vw;
  line-height: 2.5vw;
  color: rgb(26, 57, 102);
  text-transform: uppercase;
}
#section-8 .text1 {
  font-family: SF Pro Regular;
  font-size: 1.719vw;
  font-weight: 590;
  line-height: 1.979vw;
  text-align: justify;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-8 .desc .desc1-1 {
  font-family: SF Pro;
  font-size: 1.198vw;
  font-weight: 700;
  color: rgb(41, 40, 41);
  gap: 0.75vw;
}
#section-8 .desc .desc1-2 {
  padding-left: 5.469vw;
  padding-top: 1.563vw;
  padding-bottom: 2.76vw;
}
#section-8 .desc .desc1-2 span {
  text-align: justify;
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
}
#section-8 .desc .list-image p {
  margin-top: 0.938vw;
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  text-align: right;
}
#section-8 .desc .desc1-3 {
  margin-top: 2.031vw;
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  text-align: justifi;
}
#section-8 .desc .list-image1 {
  margin-top: 2.031vw;
}
#section-8 .desc .desc1-4 {
  margin-top: 2.969vw;
  font-family: SF Pro;
  font-size: 1.042vw;
  font-weight: 700;
  text-align: justify;
}
#section-8 .desc .list-image2 span {
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  font-weight: 276;
}
#section-8 .desc .list-image2 > div {
  margin-top: 1.146vw;
}
#section-8 .desc .list-image2 .text-left {
  padding-left: 1.042vw;
}
#section-8 .desc .list-image3 {
  margin-top: 8.49vw;
}
#section-8 .desc .list-image3 .text p {
  font-family: SF Pro;
  font-size: 1.042vw;
  font-weight: 700;
  text-align: justify;
  color: rgb(41, 40, 41);
}
#section-8 .desc .list-image3 .text span {
  display: block;
  margin-top: 1.823vw;
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-style: italic;
  font-weight: 276;
  text-align: right;
}
#section-8 .desc .desc2-1 {
  margin-top: 2.813vw;
  font-family: SF Pro;
  font-size: 1.198vw;
  font-weight: 700;
  color: rgb(41, 40, 41);
  gap: 0.75vw;
}
#section-8 .desc .desc2-2 {
  padding-left: 4.948vw;
  padding-top: 0.833vw;
}
#section-8 .desc .desc2-2 span {
  text-align: justify;
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
}
#section-8 .desc .list-image4 {
  margin-top: 1.325vw;
}
#section-8 .desc .list-image4 p {
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  font-weight: 276;
  margin-top: 0.625vw;
  text-align: right;
}
#section-8 .desc .desc3-1 .title {
  background: rgb(26, 57, 102);
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#section-8 .desc .desc3-1 .desc3-2 .sub-title .text {
  font-family: Myriad Pro Light;
  font-size: 1.198vw;
  font-weight: 600;
  color: rgb(88, 89, 91);
  line-height: 1.406vw;
  text-transform: uppercase;
}
#section-8 .desc .desc3-1 .desc3-2 .san-luong {
  padding-left: 4.479vw;
}
#section-8 .desc .desc3-1 .desc3-2 .san-luong .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.844vw;
  font-weight: 700;
  line-height: 5.99vw;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#section-8 .desc .desc3-1 .desc3-2 .san-luong span {
  font-family: Myriad Pro Light;
  font-size: 1.198vw;
  font-weight: 600;
  line-height: 1.458vw;
  color: rgb(88, 89, 91);
  position: relative;
  top: 1.302vw;
  left: 0.781vw;
}
#section-8 .desc .desc3-1 .desc3-2 .text-left {
  display: block;
  margin-top: 0.729vw;
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  font-weight: 276;
  text-align: right;
  color: rgb(88, 89, 91);
}
#section-8 .desc .desc3-1 .desc3-3 {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
  line-height: 1.563vw;
  text-align: justify;
  color: rgb(41, 40, 41);
}
#section-8 .desc .desc4-1 span {
  display: block;
  margin-top: 0.885vw;
  font-family: SF Pro;
  font-size: 1.509vw;
  font-weight: 590;
  line-height: 1.979vw;
  text-align: justify;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-8 .text-ip .div-text {
  font-family: SF Pro;
  font-size: 1.033vw;
}
#section-8 .text-ip p {
  font-family: SF Pro Regular;
  font-size: 0.833vw;
}

#section-9 {
  background-image: url(../../../assets/images/TongQuan/section9-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#section-9 .title {
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  color: #FFFFFF;
}
#section-9 .text-1 {
  z-index: 1;
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  color: #FFFFFF;
}
#section-9 .text-2 {
  font-family: SF Pro;
  font-size: 1.198vw;
  font-weight: 700;
  color: rgb(26, 57, 102);
  text-align: right;
}
#section-9 .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 9.948vw;
  font-weight: 700;
  line-height: 12.344vw;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-9 .text-3 {
  font-family: SF Pro;
  font-size: 1.198vw;
  font-weight: 274;
  color: rgb(26, 57, 102);
}
#section-9 .item1 .text {
  font-family: SF Pro Regular;
  font-size: 1.094vw;
  font-weight: 274;
  line-height: 2.083vw;
}
#section-9 .item1 .text .blue {
  color: rgb(26, 57, 102);
  font-family: SF Pro;
}
#section-9 .item1 .text .highligh-normal {
  color: rgb(0, 117, 52);
  font-family: SF Pro;
}
#section-9 .item1 .text .black {
  color: rgb(0, 0, 0);
  font-family: SF Pro;
}
#section-9 .text-4 {
  font-size: 1.198vw;
}
#section-9 .text-4 .blue {
  font-family: SF Pro;
  font-weight: 700;
  color: rgb(26, 57, 102);
}
#section-9 .text-4 span {
  font-family: SF Pro Regular;
  font-weight: 274;
  color: rgb(26, 57, 102);
}
#section-9 .text-4 ul {
  margin-left: 1.146vw;
  list-style: disc;
}
#section-9 .text-4 ul li {
  font-family: SF Pro;
  font-size: 1.198vw;
  color: rgb(88, 88, 90);
}
#section-9 .text-5 {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
}
#section-9 .text-5 .blue {
  font-family: SF Pro;
  font-size: 1.094vw;
  font-weight: 700;
  color: rgb(26, 57, 102);
}
#section-9 .text-5 .green {
  font-family: SF Pro;
  font-size: 1.51vw;
  font-weight: 700;
  color: rgb(0, 117, 52);
}
#section-9 .text-5 span {
  font-family: SF Pro;
}
#section-9 .text-5 ul {
  list-style: disc;
  margin-left: 1.846vw;
}

#section-10 {
  background-image: url(../../../assets/images/TongQuan/section10-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#section-10 .title {
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  color: #FFFFFF;
}
#section-10 .text1 {
  z-index: 2;
  font-family: SF Pro;
  font-size: 1.458vw;
  font-weight: 700;
  line-height: 1.719vw;
  color: #FFFFFF;
}
#section-10 .item {
  font-size: 1.042vw;
  color: rgb(0, 117, 52);
}
#section-10 .item .green {
  font-family: SF Pro;
}
#section-10 .item .green span {
  font-weight: 274;
  font-family: SF Pro Regular;
}
#section-10 .item .green-number {
  margin-top: -0.521vw;
  font-family: iCiel Samsung Sharp Sans;
  font-size: 2.448vw;
  font-weight: 700;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-11 {
  background-color: #FFFFFF;
}
#section-11 .highligh {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 6.25vw;
  font-weight: 700;
  line-height: 7.76vw;
  background: linear-gradient(90deg, #F4E696 6.33%, #E6C36C 22.99%, #DAA548 40.52%, #D69A3B 49.29%, #DFB156 64.19%, #F4E696 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-11 .text1 {
  font-family: SF Pro;
  font-size: 1.094vw;
  font-weight: 700;
  color: rgb(199, 234, 251);
}
#section-11 .text1 span {
  display: block;
  font-family: SF Pro Regular;
  font-weight: 274;
}

#section-11_2 {
  background: #FFFFFF;
}
#section-11_2 .line {
  background-color: rgb(80, 184, 72);
}
#section-11_2 .text2 {
  font-family: SF Pro;
  font-size: 1.719vw;
  font-weight: 700;
  line-height: 2.031vw;
  color: #C7EAFC;
}
#section-11_2 .text3 {
  font-family: SF Pro;
  font-size: 5.156vw;
  font-weight: 700;
  line-height: 6.146vw;
  color: #C7EAFC;
}
#section-11_2 .list-text .list1 {
  padding: 1.771vw;
  background: rgb(243, 244, 244);
  font-family: SF Pro Regular;
  font-size: 1.719vw;
  font-weight: 274;
  line-height: 1.719vw;
}
#section-11_2 .list-text .list1 .black {
  font-family: SF Pro;
  font-size: 1.458vw;
  font-weight: 700;
  line-height: 2.031vw;
  color: rgb(41, 40, 41);
}
#section-11_2 .list-text .list1 .blue {
  font-family: UTM HelvetIns;
  font-size: 2.865vw;
  font-weight: 400;
  line-height: 3.385vw;
  color: rgb(26, 57, 102);
}
#section-11_2 .list2 {
  padding: 1.406vw 2.344vw 1.146vw;
}
#section-11_2 .list2 .item {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
  line-height: 1.563vw;
  margin-bottom: 0.339vw;
}
#section-11_2 .list2 .item p {
  font-family: SF Pro;
  font-weight: 700;
}
#section-11_2 .list2 .item img {
  display: inline-flex;
}
#section-11_2 .text4 {
  font-family: SF Pro;
  font-size: 1.458vw;
  font-weight: 700;
  line-height: 1.719vw;
  text-transform: uppercase;
  color: rgb(199, 234, 252);
}

#section-13 {
  background: #FFFFFF;
}
#section-13 .title {
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  line-height: 2.5vw;
  color: rgb(26, 57, 102);
}
#section-13 .list2 {
  padding: 1.406vw 2.344vw 1.146vw;
}
#section-13 .list2 .item {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
  line-height: 1.563vw;
  margin-bottom: 0.339vw;
}
#section-13 .list2 .item p {
  font-family: SF Pro;
  font-weight: 700;
}
#section-13 .list2 .item img {
  display: inline-flex;
}

#section-15 {
  background: #FFFFFF;
}
#section-15 .title {
  font-family: SF Pro;
  font-size: 2.083vw;
  font-weight: 700;
  line-height: 2.5vw;
  color: rgb(26, 57, 102);
}
#section-15 .list2 {
  padding: 1.406vw 2.344vw 1.146vw;
}
#section-15 .list2 .item {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
  line-height: 1.563vw;
  margin-bottom: 0.339vw;
}
#section-15 .list2 .item p {
  font-family: SF Pro;
  font-weight: 700;
}
#section-15 .list2 .item img {
  display: inline-flex;
}

#section-16 .text1 {
  font-family: iCiel Silka;
  font-size: 1.406vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: right;
  background: linear-gradient(90deg, #0083CA 0%, #005892 29%, #003767 55%, #00467B 66%, #006EAF 89%, #0083CA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-16 .text2 {
  font-family: iCiel Silka;
  font-size: 1.406vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: center;
  background: linear-gradient(90deg, #0083CA 0%, #005892 29%, #003767 55%, #00467B 66%, #006EAF 89%, #0083CA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-16 .text3 {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  color: rgb(26, 57, 102);
}
#section-16 .text4 {
  font-family: SF Pro Regular;
  font-size: 0.938vw;
  font-weight: 590;
  line-height: 1.354vw;
  text-align: justify;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#section-17 {
  font-family: iCiel Silka;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.51vw;
  text-align: right;
  color: rgb(26, 57, 102);
}

#section-18 {
  background: #FFFFFF;
}
#section-18 .text1 {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  color: rgb(26, 57, 102);
}
#section-18 .text2 {
  font-family: SF Pro;
  font-size: 0.938vw;
  font-weight: 590;
  line-height: 1.354vw;
  text-align: justify;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-18 .text3 {
  font-family: iCiel Silka;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.51vw;
  color: rgb(26, 57, 102);
}

#section-19 {
  background-color: #FFFFFF;
}
#section-19 .text1 {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.51vw;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
#section-19 .list-text p {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 400;
  line-height: 1.615vw;
  color: #292829;
  margin-bottom: 0.938vw;
}
#section-19 .highligh {
  font-family: Myriad Pro;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.406vw;
  background: #AA7B2C;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
#section-19 .desc1 {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 510;
  line-height: 1.875vw;
  text-align: justify;
  background: linear-gradient(90deg, #003767 0%, #007534 95.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19 .list-text1 p {
  margin-bottom: 1.338vw;
}

#section-19_1 {
  background-color: #FFFFFF;
  padding: 0 18.75vw;
}
#section-19_1 .title span {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  background: #1A3966;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_1 .item .highligh {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  background: #F4E896;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_1 .item .list .special {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_1 .item .list span {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 600;
  line-height: 1.615vw;
  background: #007534;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: -0.469vw;
}
#section-19_1 .item .text ul {
  list-style: disc;
}
#section-19_1 .item .text ul li {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.51vw;
  color: #292829;
  letter-spacing: -0.026vw;
}
#section-19_1 .item .special-nornal {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.458vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-max-content;
  width: max-content;
}
#section-19_1 .item-6 {
  background-image: url(../../../assets/images/TongQuan/section19-1_6.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}
#section-19_1 .item-7 {
  background-image: url(../../../assets/images/TongQuan/section19-1_13.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}

#section-19_2 {
  background-color: #FFFFFF;
}
#section-19_2 .title span {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  background: #1A3966;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_2 .item .highligh {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  background: #F4E896;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_2 .item .list .special {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_2 .item .list span {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 600;
  line-height: 1.615vw;
  background: #007534;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: -0.469vw;
}
#section-19_2 .item .text ul {
  list-style: disc;
}
#section-19_2 .item .text ul li {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.51vw;
  color: #292829;
  letter-spacing: -0.026vw;
}
#section-19_2 .item .special-nornal {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.458vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-max-content;
  width: max-content;
}

#section-19_3 {
  background-color: #FFFFFF;
}
#section-19_3 .title span {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  background: #1A3966;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .item .highligh {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  background: #F4E896;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .item .list .special {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .item .list span {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 600;
  line-height: 1.615vw;
  background: #007534;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: -0.469vw;
}
#section-19_3 .item .text ul {
  list-style: disc;
}
#section-19_3 .item .text ul li {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.51vw;
  color: #292829;
  letter-spacing: -0.026vw;
}
#section-19_3 .item .special-nornal {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.458vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-max-content;
  width: max-content;
}
#section-19_3 .item-3 {
  background-image: url(../../../assets/images/TongQuan/section19-3_4.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}
#section-19_3 .item-4 {
  background-image: url(../../../assets/images/TongQuan/section19-3_9.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}
#section-19_3 .desc {
  font-family: SF Pro;
  font-size: 1.406vw;
  font-weight: 510;
  line-height: 1.979vw;
  text-align: justify;
  color: #58595B;
}
#section-19_3 .sub-title {
  font-family: SF Pro;
  font-size: 1.927vw;
  font-weight: 860;
  line-height: 2.604vw;
  text-align: center;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .desc1 {
  font-family: SF Pro Regular;
  font-size: 1.042vw;
  font-weight: 274;
  line-height: 1.563vw;
  text-align: justify;
}
#section-19_3 .desc1 strong {
  font-weight: 700;
  font-family: SF Pro;
}
#section-19_3 .desc2 .desc-title span {
  font-family: SF Pro;
  font-size: 1.406vw;
  font-weight: 510;
  line-height: 1.979vw;
  text-align: right;
  background: linear-gradient(90deg, #003767 0.09%, #003767 34.48%, #00425D 68.87%, #007534 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .desc2 .desc-hight {
  font-family: UTM HelvetIns;
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 2.083vw;
  text-align: center;
  background: #F4E696;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .desc2 .desc-title1 {
  font-family: Myriad Pro;
  font-size: 1.042vw;
  font-weight: 700;
  line-height: 1.25vw;
  text-align: center;
  background: #F4E696;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_3 .desc2 .list-text p {
  font-family: Myriad Pro;
  font-size: 1.042vw;
  font-weight: 600;
  line-height: 1.25vw;
  background: #003767;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3.413vw;
  text-align: center;
}
#section-19_3 .desc2 .list-text4 p {
  margin-bottom: 3.069vw;
}

#section-19_4, #section-19_5, #section-19_6 {
  background-color: #FFFFFF;
}
#section-19_4 .title span, #section-19_5 .title span, #section-19_6 .title span {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 860;
  line-height: 1.615vw;
  background: #1A3966;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.052vw;
}
#section-19_4 .item .gray-text, #section-19_5 .item .gray-text, #section-19_6 .item .gray-text {
  font-weight: 300 !important;
  background: #292829 !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.052vw;
}
#section-19_4 .item .highligh, #section-19_5 .item .highligh, #section-19_6 .item .highligh {
  font-family: SF Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  background: #F4E896;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_4 .item .list .special, #section-19_5 .item .list .special, #section-19_6 .item .list .special {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-19_4 .item .list span, #section-19_5 .item .list span, #section-19_6 .item .list span {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 600;
  line-height: 1.615vw;
  background: #007534;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: -0.469vw;
}
#section-19_4 .item .text ul, #section-19_5 .item .text ul, #section-19_6 .item .text ul {
  list-style: disc;
}
#section-19_4 .item .text ul li, #section-19_5 .item .text ul li, #section-19_6 .item .text ul li {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 300;
  line-height: 1.51vw;
  color: #292829;
  letter-spacing: -0.026vw;
}
#section-19_4 .item .special-nornal, #section-19_5 .item .special-nornal, #section-19_6 .item .special-nornal {
  font-family: Myriad Pro Light;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.458vw;
  text-transform: uppercase;
  background: linear-gradient(90deg, #003767 0.09%, #003767 22.66%, #00425D 47.37%, #007534 77.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -moz-max-content;
  width: max-content;
}

#section-20 {
  background-color: #FFFFFF;
}
#section-20 .text .blue-normal {
  font-family: UTM HelvetIns;
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 3.073vw;
  color: #1A3966;
}
#section-20 .text .blue-big {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 8.073vw;
  font-weight: 700;
  line-height: 8vw;
  color: #1A3966;
}
#section-20 .text .blue-small {
  font-family: Myriad Pro;
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.875vw;
  color: #1A3966;
  margin-top: -0.954vw;
}
#section-20 .text span {
  font-family: Myriad Pro Light;
  font-size: 1.354vw;
  font-weight: 400;
  line-height: 1.615vw;
  color: #58595B;
  margin-top: -0.954vw;
}
#section-20 .text1 {
  text-align: center;
}
#section-20 .text1 .highligh {
  font-family: UTM HelvetIns;
  font-size: 1.354vw;
  font-weight: 400;
  line-height: 1.51vw;
  color: #F4E696;
}
#section-20 .text1 .number {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.115vw;
  font-weight: 700;
  line-height: 5.104vw;
  color: #C7EAFC;
}
#section-20 .text1 .customer {
  font-family: Myriad Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  color: #C7EAFC;
  margin-top: -0.525vw;
}
#section-20 .text2 .number {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.115vw;
  font-weight: 700;
  line-height: 3.04vw;
  color: #00558F;
}
#section-20 .text2 span {
  font-family: Myriad Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  color: #58595B;
}
#section-20 .text3 .blue-normal {
  font-family: UTM HelvetIns;
  font-size: 40px;
  font-weight: 400;
  line-height: 59px;
  color: #00558F;
}
#section-20 .text3 .blue-big {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 8.073vw;
  font-weight: 700;
  line-height: 8vw;
  color: #00558F;
}
#section-20 .text3 .blue-big .fz-text {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 6.25vw;
  color: #00558F;
  line-height: 7.708vw;
}
#section-20 .text3 .blue-big .blue-small {
  font-family: Myriad Pro Light;
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.875vw;
  color: #00558F;
}
#section-20 .text3 span {
  font-family: Myriad Pro;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.51vw;
  color: #58595B;
  letter-spacing: -1px;
  margin-top: -0.35vw;
}

#section-21 {
  background-color: #FFFFFF;
}
#section-21 .text1 .use {
  font-family: UTM HelvetIns;
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 3.073vw;
  color: #007534;
}
#section-21 .text1 .number {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 4.688vw;
  font-weight: 700;
  line-height: 5.833vw;
  color: #007534;
}
#section-21 .text1 .number span {
  font-family: Myriad Pro;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.51vw;
  color: #007534;
}
#section-21 .text2 {
  font-family: Myriad Pro;
  font-size: 2.031vw;
  font-weight: 700;
  line-height: 2.448vw;
  color: #58595B;
  letter-spacing: -0.052vw;
}
#section-21 .list-text {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.51vw;
}
#section-21 .list-text > div {
  margin-bottom: 0.345vw;
}
#section-21 .list-text .green {
  font-family: SF Pro;
  color: #007534;
}
#section-21 .list-text .black {
  font-family: Myriad Pro;
  color: #292829;
}
#section-21 .list-text .black span {
  font-family: Myriad Pro Light;
  font-weight: 274;
}
#section-21 .list-text__cus .black {
  font-family: SF Pro;
}
#section-21 .list-text__cus .black span {
  font-family: SF Pro Regular;
  font-weight: 274;
  letter-spacing: -0.052vw;
}
#section-21 .text3 {
  font-family: SF Pro Regular;
  font-size: 0.833vw;
  font-style: italic;
  font-weight: 276;
  line-height: 0.833vw;
  color: #000000;
}
#section-21 .text4 {
  font-family: UTM HelvetIns;
  font-size: 43px;
  font-weight: 400;
  line-height: 64px;
  color: #50B848;
}
#section-21 .text4 .number {
  font-family: iCiel Samsung Sharp Sans;
  font-size: 8.229vw;
  font-weight: 700;
  line-height: 8.208vw;
  color: #50B848;
}
#section-21 .text4 .number .country {
  font-family: Myriad Pro;
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 1.875vw;
  color: #50B848;
}
#section-21 .text4 span {
  font-family: Myriad Pro Light;
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.563vw;
  color: #58595B;
}
#section-21 .list-content .item {
  margin-bottom: 1.345vw;
}
#section-21 .list-content .item .green {
  font-family: Myriad Pro;
  font-size: 1.354vw;
  font-weight: 700;
  line-height: 1.615vw;
  color: #50B848;
}
#section-21 .list-content .item .desc {
  font-family: SF Pro Regular;
  font-size: 1.184vw;
  font-weight: 400;
  line-height: 1.615vw;
  color: #58595B;
  margin-top: 0.345vw;
}/*# sourceMappingURL=tong-quan-ve-ttc-agris.component.css.map */